// we're importing here main style variables from theme
@import "@theme/assets/scss/main";

// Here you can override you global styles.
// It will be included once on webside and visible unless some more specific styles in components will extend that
//
// note: To override global variables go to variables.scss

// example of global styles you may want to override
// body {
//   font-family: var(--font-family-primary);
//   font-weight: var(--font-light);
//   font-size: var(--font-size-base);
//   line-height: 1.6;
// }

//Fonts

@font-face {
  font-family: "Bebas";
  src: local("Bebas"),
  url(../fonts/bebas_neue_700.otf) format("opentype");
}

@font-face {
  font-family: "MuseoSans300";
  src: local("MuseoSans300"),
  url(../fonts/Museo_Sans_Cyrl_300.ttf) format("truetype");
}

@font-face {
  font-family: "MuseoSans700";
  src: local("MuseoSans700"),
  url(../fonts/Museo_Sans_Cyrl_700.ttf) format("truetype");
}


@font-face {
  font-family: "PtRootUiBold";
  src: local("PtRootUiBold"),
  url(../fonts/PT_Root_UI_Bold.ttf) format("truetype");
}

@font-face {
  font-family: "PtRootUiLight";
  src: local("PtRootUiLight"),
  url(../fonts/PT_Root_UI_Light.ttf) format("truetype");
}


//.header {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 2;
//}
.link-bar {
  position: relative;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-bar__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
}
.link-bar__nav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 50%;
}
.main-modal {
  width: 540px;
  height: 537px;
  background: #57C2DE;
  border-radius: 10px;
}

.alert {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}



body {
  font-family: "PtRootUiLight";
}

a {
  color: inherit;
  text-decoration: none;

  /* no underline */
  &:hover {
    color: inherit;
  }
}


h1, .h1 {
  font-family: "Bebas";
  font-size: 65px;
  line-height: 110%;
  text-transform: uppercase;
  color: #57C2DE;

  .big {
    font-size: 1em;
    line-height: 100%;
    display: block;
  }

  .small {
    font-size: .75em;
    line-height: 100%;
    display: block;
  }
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 110px;
  }
}

h2, .h2 {
  font-family: "PtRootUiBold";
  font-style: normal;
  font-size: 36px;
  line-height: 45px;
  color: #595959;
}

h3 {
  font-family: "PtRootUiBold";
  font-style: normal;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */


  color: #3C3C3C;

}

.btn-cta {
  background: #F3A93A;
  border: none;
  color: #FFFFFF;
}

.btn-outline-secondary, .btn-cta {
  border-radius: 45px;
  padding: 20px 40px;

  font-family: "MuseoSans700";
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.15em;
}

ul {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}


.title {
  margin-bottom: 50px;
}

.modalka_class {

  .vm--modal {
    width: 540px;
    height: 537px;
    background: #57C2DE;
    border-radius: 10px;
  }
}

.modalka_menu {
  .vm--modal {
    background: #57C2DE;
  }
}


@media (max-width: 768px) {

  //Smartphones
  h1 {
    font-size: 55px;
    line-height: 112%;

    &.big {
      font-size: 55px;
      line-height: 112%;
    }

    &.small {
      margin-top: -20px;
      font-size: 25px !important;
      line-height: 112%;
    }
  }

  h2 {
    font-size: 26px;
    line-height: 35px;
  }

  h3 {
    font-size: 18px;
    line-height: 150%;
  }

  body {
    font-size: 16px;
    line-height: 183%;
  }

  button {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.15em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 88px;
  }

  .center-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  //helpers

  .left_col {
    text-align: center;
    font-size: 15px;
    padding-left: 10px !important;
  }

  .right_col {
    text-align: center;
    font-size: 15px;
    padding-left: 10px !important;
  }

}

