<template>
  <div v-if="getComponent">
    <h4>
      <button
        v-b-toggle="id"
        class="m-1 btn toggler-filter toggler-filter__arrow"
      >
        {{ $t(filter.label) }}
      </button>
    </h4>
    <b-collapse :id="id">
      <component
        :is="getComponent"
        :filter="filter"
        :current-filters="currentFilters"
        :selected-values="selectedValues"
        @toggle-filter-value="toggleFilterValue"
        :selected="selected"
        :key="filter.code"
      />
    </b-collapse>
  </div>
</template>

<script>
import { SfFilter } from "@storefront-ui/vue"
import defaultType from "@/components/listing/types/defaultType.vue"
import { simplifyString } from "@/helpers"

export default {
  name: "SwProductListingFilter",
  components: {
    SfFilter,
  },
  props: {
    filter: {
      type: Object,
      default: () => ({}),
    },
    selectedEntityFilters: {
      type: Array | Object,
      default: () => [],
    },
    selectedFilters: {
      type: Array | Object,
      default: () => [],
    },
    currentFilters: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    id() {
      return 'filter-collapse-' + this.filter.label.replace(/\s/g, '-')
    },

    getComponent() {
      try {
        return () => ({
          component: import(
            `@/components/listing/types/${this.filterCode}.vue`
          ),
          error: defaultType,
        })
      } catch (e) {
        console.error("SwProductListingFilter:getComponent", e)
      }
    },
    filterCode() {
      return simplifyString(this.filter.label.toLowerCase())
    },
    selectedValues() {
      return this.selectedFilters || []
    },
    selected() {
      return this.selectedFilters[this.filter.code]
    },
  },
  methods: {
    toggleFilterValue(value) {
      this.$emit("toggle-filter-value", value)
    }
  },
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables";

.toggler-filter {
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: .5rem 1rem;

  &:hover {
    box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, 0.3);
  }

  &__arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &::after {
      content: url("@/assets/icons/arrow-gray.svg");
      transition: .2s;
    }

    &.collapsed::after {
      transform: rotateZ(180deg);
    }
  }
}
</style>
