<template>
  <div>
    <div class="main">
      <div class="hero">
        <div class="hero_container">
          <div class="container-xl">
            <div class="row">
              <div class="col-md-6 col-12">
                <h1>
                  <span class="big">наши <br />контакты</span>
                </h1>
                <div class="center-xs">
                   <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
                </div>
              </div>
              <div class="col-md-6 d-none d-md-flex main_image">
                <img loading="lazy" src="~assets/img/contacts_hero.png" alt="" />
              </div>
            </div>
          </div>

          <herocard />
        </div>
      </div>
      <Map />

      <div class="contacts_container pt-5">
        <div class="container">
          <h2 class="text-center">Контакты</h2>
          <div class="row mt-5 contacts_container_row">
            <div class="col-md-6 d-none d-md-flex">
              <img
                loading="lazy"
                class="contacts_icons"
                src="~assets/img/contacts_icons.png"
                alt=""
              />
            </div>
            <div class="col-md-6">
              <div class="card mb-4">
                <img
                  loading="lazy"
                  height="60px"
                  width="70px"
                  src="~assets/icons/contact_card_1.svg"
                  alt=""
                />
                <h3 class="mt-4">Сервисный центр</h3>
                <p><a href="">+7‒966‒260‒66‒44</a></p>
                <p>Выездной ремонт техники в Казани</p>
                <a href="tel:+79662606644">
                   <button class="btn-cta">Вызвать мастера</button>
                </a>
              </div>
              <div class="card">
                <img
                  loading="lazy"
                  height="72px"
                  width="57px"
                  src="~assets/icons/contact_card_2.svg"
                  alt=""
                />
                <h3 class="mt-4">Отдел продаж</h3>
                <p><a href="tel:+79625565579">+7 (962) 556 55‒79</a></p>
                <p>24/7 для всех категорий продуктов</p>
                <p>
                  Для технической консультации просим Вас находиться рядом с
                  техникой, так специалисты смогут помочь быстрее
                </p>
                <a href="tel:+79625565579">
                   <button class="btn-cta">Позвонить</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="online pt-5 pb-5 container">
        <h2 class="text-center mb-5">Онлайн поддержка</h2>
        <div class="row">
          <div
            v-for="(online_item, i) in online_array"
            :key="online_item.head"
            class="col-md-4 align-items-stretch mb-4"
          >
            <div class="card h-100 d-flex flex-column justify-content-between">
              <div>
                <img
                  loading="lazy"
                  :src="require('../assets/icons/online_' + (i + 1) + '.svg')"
                  alt=""
                />
                <h3 class="mt-4">{{ online_item.head }}</h3>
                <p>{{ online_item.text }}</p>
              </div>
              <template v-if='online_item.url'>
                <a :href="online_item.url">
                   <button class="btn-cta">{{ online_item.button }}</button>
                </a>
              </template>
              <template v-if='!online_item.url'>
                 <button class="btn-cta" @click="showModal()">{{ online_item.button }}</button>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import modalkaVue from '@/components/modalka.vue'
import Herocard from "@/components/Herocard";
export default {
  components: {Herocard},
  head() {
    return {
      title: 'Сервисный центр контакты ☛ Выезд мастера ☛ Профессиональная оценка ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionContacts',
          name: 'description',
          content: 'Контакты сервисного центра в Казани ☛ Бесплатный выезд мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00). \n'
        }
      ]
    }
  },

  setup() {
    return {}
  },
  data() {
    return {
      online_array: [
        {
          head: 'Онлайн чат',
          text: 'Круглосуточно, 24/7',
          button: 'Начать чат'
        },
        {
          head: 'Ваш сервис',
          text: 'Запишитесь в сервисный центр онлайн',
          button: 'Начать чат'
        },
        {
          head: 'Письмо в офис генерального директора',
          text: 'Оставьте жалобу или предложение, мы ответим через 12 часов',
          button: 'Написать письмо'
        },
        {
          head: 'ВКонтакте',
          text: 'Задавайте вопросы и получайте ответы прямо в социальной сети',
          button: 'Перейти',
          url: 'https://vk.com/tehnolider_kzn',
        },
        {
          head: 'WhatsApp',
          text: 'Задавайте вопросы и получайте ответы прямо в WhatsApp. Время работы: круглосуточно 24/7',
          button: 'Перейти',
          url: 'https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!',
        },
        {
          head: 'Instagram',
          text: 'Задавайте вопросы и получайте ответы прямо в Instagram. Время работы: круглосуточно 24/7',
          button: 'Перейти',
          url: 'https://www.instagram.com/tehnolider.kzn/',
        },
      ],
    }
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Контакты' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      overflow: hidden;
      img {
        width: 395px;
        height: 353px;
      }
    }
  }
}

.card {
  background: #fcfcfc;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 36px;
  button {
    width: fit-content;
  }
}
.contacts_container {
  .contacts_icons {
    height: 700px;
  }
  .contacts_container_row {
    background: url('~assets/img/contacts_circles_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .hero {
    background: none;
    .number_one {
      right: 0;
      top: 70px;
      transform: none;
      width: 70px;
      height: 120px;
      .number_one_container {
        height: 120px;
        img {
          height: 120px;
        }
      }
    }

    .hero_container {
      .hero_card_container {
        background: #57c2de;
        padding-top: 71px;
        padding-bottom: 70px;
        .hero_card {
          img {
            display: block;
            width: 30%;
          }
          width: 100%;
          height: 166px;
          .hero_card_text {
            font-size: 24px;
            line-height: 140%;

            color: #545454;
          }
        }
      }
    }
  }
}
</style>
