<template>
  <div class="main">
    <div class="hero">
      <div class="hero_container">
        <Slider />
        <div class="hero_card_container">
          <div class="container-xl">
            <div class="row">
              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/new_hero_1.svg" alt="" />
                    <div class="hero_card_text">
                      Ремонт <br />бытовой техники
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/new_hero_2.svg" alt="" />
                    <div class="hero_card_text">
                      Продажа техники<br />б/у и новой
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/new_hero_3.svg" alt="" />
                    <div class="hero_card_text">
                      Скупка бытовой <br />
                      техники
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/new_hero_4.svg" alt="" />
                    <div class="hero_card_text">
                      Запчасти <br />
                      стиральных машин
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="why_us">
      <div class="container">
        <h1 class='h2 mb-4'>Ремонт и продажа бытовой техники</h1>
        <div class="row">
          <div class="col-md-3 wh_card">
            <img loading="lazy" src="~assets/icons/wh_1.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Диагностика бесплатно</div>
              <div class="wh_card_text_opis">
                При ремонте мы не считаем диагностику, это будет бесплатно!
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img src="~assets/icons/wh_2.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Доставка в день заказа</div>
              <div class="wh_card_text_opis">
                Купите бытовую технику, не вставая с дивана
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img src="~assets/icons/wh_3.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Знаем свою работу</div>
              <div class="wh_card_text_opis">
                Все наши мастера - профессионалы с большим стажем работы
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img src="~assets/icons/wh_4.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Всегда приятные цены</div>
              <div class="wh_card_text_opis">
                Наши цены всегда консервативны, так как мы желаем, чтобы Вы обратились к нам вновь!
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <repair />

    <section class="we_cheapier">
      <div class="container">
        <div class="row">
          <div class="col-md-7 we_cheapier_left">
            <img
              class="main_cheap d-none d-lg-block"
              src="~assets/icons/main_cheap.svg"
              alt=""
            />
            <h2>Продаём бытовую технику<br />дешевле, чем в гипермаркетах</h2>
            <h3>Скупка или выкуп бытовой<br />техники в Казани</h3>
            <p>
              Вы всегда можете сдать нам свою старую технику даже, если она не
              исправна. Благодаря этой услуге у нас всегда есть в наличии
              оригинальные запасные части для ремонта бытовой техники, а также
              множество моделей были восстановлены и выставлены на продажу по низким
              ценам.
            </p>
             <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
          </div>
          <div class="col-md-5">
            <div class="back_photo"></div>
          </div>
        </div>
      </div>
      <img class="d-md-none" src="~assets/img/main_cheapier.png" alt="" />
    </section>
    <div class="helper_1 container">
      <div class="wait_for_you">
        <div class="wait_for_you_content">
          <div class="wfy_header">Ждем Вас</div>
          <div class="wfy_text">
            в нашем сервисном центре «ТехноЛидер» в Казани по адресу:
          </div>
          <div class="wfy_map">
            <div class="map_icon">
              <img src="~assets/icons/map_icon.svg" alt="" />
            </div>
            <div class="map_text">Проспект победы д.35.</div>
          </div>
        </div>
      </div>
      <div class="wait_for_you_imgs">
        <img class="box_helper" src="~assets/img/box_helper.png" alt="" />
        <img
          class="helper_box2 d-md-none"
          src="~assets/img/helper_box2.png"
          alt=""
        />
        <img
          class="helper_bz d-md-none"
          src="~assets/img/helper_bz.png"
          alt=""
        />
        <img
          class="helper_notes d-md-none"
          src="~assets/img/helper_notes.png"
          alt=""
        />
        <img
          class="helper_plita d-md-none"
          src="~assets/img/helper_plita.png"
          alt=""
        />
      </div>
    </div>
    <section class="lables container">
      <div class="lables_slider">
        <img src="~assets/img/lables.png" alt="" />
      </div>

      <div class="center d-md-none">
        <img class="icon_slide" src="~assets/icons/slide.svg" alt="" />
      </div>
    </section>
    <section class="about_us" name="about_us">
      <img
        class="about_us_main_mobi d-md-none"
        src="~assets/img/about_us_mobile.png"
        alt=""
      />
      <div class="about_us_top">
        <div class="about_us_left container">
          <h2>Немного о нас</h2>
          <p>
            В Tehnolider мы знаем, что Ваше время ценно. Вот почему наши
            специалисты работают по Вашему графику, а не наоборот. Вам нужно,
            чтобы мы появились утром? Нет проблем! Вы хотите, чтобы мы пришли
            позже во второй половине дня? Увидимся там. Вся наша команда
            стремится к Вашему 100% удовлетворению, поэтому Вы можете быть
            спокойны, зная, что мы всегда работаем.
          </p>
           <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
        </div>
        <img
          class="au_top_img d-none d-md-block"
          src="~assets/img/about_us.png"
          alt=""
        />
      </div>
      <div class="about_us_bottom container">
        <div class="big_card">
          <div class="worker_img center-xs">
            <img
              class="about_us_white_mobi d-md-none"
              src="~assets/img/about_us_white_mobi.png"
              alt=""
            />
            <img class="worker_img_img" src="~assets/img/worker.png" alt="" />
          </div>
          <div class="about_techno">
            <Logo />
            <p>
              Чемпион на рынке по ремонтным мероприятиям в Казани. В процессе
              эксплуатации любая техника может выйти из строя.
              Это доставляет немало хлопот современным хозяйкам. И, если у Вас не возникло
              желания бежать за новой стиральной машиной, холодильником или
              плитой, наша организация поможет решить эту проблему, недорого и наилучшим образом.
              Доверие людей – наша главная ценность. (Или
              задача?) Поэтому каждому клиенту предоставляется следующий спектр
              услуг и преимуществ: — Честные цены — Быстрое и качественное
              устранение неполадок — Выезд мастера на дом в любое удобное для
              Вас время — Экспертиза технологического состояния оборудования —
              Гарантия и соблюдение сроков — широчайший ассортимент запчастей в
              городе — Добросовестное исполнение своих обязанностей. Мы работаем
              со многими брендами (Indesit, Bosh и т.д) и можем безупречно
              справиться с неполадками всего модельного ряда.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="on_home_repair">
      <div class="container">
        <div class="row">
          <div class="col-md-6 on_home_repair_left">
            <div class="on_home_repair_main_mobi d-md-none">
              <img class="img-fluid" src="~assets/img/hrf_main.png" alt="" />
            </div>
            <h2>Ремонт бытовой<br />техники на дому</h2>
             <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
            <div class="on_home_repair_main d-none d-md-block">
              <img src="~assets/img/hrf_main.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_like.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Доступная цена</div>
                  <div class="h_r_f_block_description">
                    Доступные цены для каждого. Когда мы покупаем технику,
                    нам не хочется переплачивать за ремонт– именно поэтому наши
                    цены Вас приятно удивят!
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_worker.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Вызов мастера</div>
                  <div class="h_r_f_block_description">
                    Вы можете подробно описать ошибку, техническую неполадку, и
                    наши Мастера приедут в удобное для Вас время.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_diagnostik.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Бесплатная диагностика</div>
                  <div class="h_r_f_block_description">
                    Только нашим клиентам мы предоставляем бесплатную
                    диагностику любой техники.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_worker.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Срочный ремонт</div>
                  <div class="h_r_f_block_description">
                    Часто техника, которой пользуются ежедневно, ломается в
                    самый неподходящий момент. Данные вопросы требуют
                    беспромедлительного решения.
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_repair.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Ремонт домашней техники</div>
                  <div class="h_r_f_block_description">
                    На выезде мы ремонтируем все виды бытовой техники
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="h_r_f_block">
                  <img
                    class="h_r_f_block_img"
                    src="~assets/icons/hrf_garant.svg"
                    alt=""
                  />
                  <div class="h_r_f_block_bold">Гарантия</div>
                  <div class="h_r_f_block_description">
                    Наша компания предоставляет гарантию на всю технику. Вы
                    можете быть уверены в качестве услуг и запчастей.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Map />

    <section class="price">
      <h2 class="text-center">Наши цены</h2>
      <p class="text-center">
        Доступный ремонт и техника для каждого.<br />Качественно, не значит дорого
      </p>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_freeze.svg" alt="" />
                </div>
                <div class="price_card_name">Холодильники</div>
                <p class="text-left">
                  Профилактика и ремонт (решим проблему с чрезмерным
                  нарастанием льда, если не включается, не морозит, протекает)
                </p>
              </div>
              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>300</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_pech.svg" alt="" />
                </div>
                <div class="price_card_name">
                  Электро/<br />микроволновые печи
                </div>
                <p class="text-left">
                  Заменим трансформатор, высоковольтные предохранители, слюду,
                  отремонтируем плату управления.
                </p>
              </div>

              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>150</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_stiralka.svg" alt="" />
                </div>
                <div class="price_card_name">Стиральные машины</div>
                <p class="text-left">
                  Профилактика и ремонт (если не греет, не включается, не
                  сливает или заливает водой, отсутствует отжим)
                </p>
              </div>
              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>350</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_coffe.svg" alt="" />
                </div>
                <div class="price_card_name">Кофемашины</div>
                <p class="text-left">
                  Научим Вашу кофемашину снова радовать изысканным кофе,
                  идеально молоть зёрна и взбивать молоко капучинатором
                </p>
              </div>
              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>350</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_tv.svg" alt="" />
                </div>
                <div class="price_card_name">Телевизоры</div>
                <p class="text-left">
                  Грамотно подключим, заменим всё битое или сломанное, поможем
                  телевизору поймать сигнал и передать чёткую картинку
                </p>
              </div>
              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>450</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 align-items-stretch pb-4">
            <div class="price_card">
              <div>
                <div class="price_card_img">
                  <img src="~assets/icons/price_condey.svg" alt="" />
                </div>
                <div class="price_card_name">Кондиционеры</div>
                <p class="text-left">
                  Профилактика и ремонт (заправка фреоном, чистка фильтров)
                </p>
              </div>

              <div>
                <div class="price_container">
                  <div class="price_price">Стоимость</div>
                  <div class="price_number">
                    <div class="p_number">от <span>400</span></div>
                    <div class="valuta">₽</div>
                  </div>
                </div>
                 <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="otzivy">
      <h2 class="text-center">Наши отзывы</h2>
      <p class="text-center">Спасибо всем, кто соглашается оставить отзыв!</p>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="otziv_card">
              <img class="otziv_card_img" src="~assets/img/ot_1.png" alt="" />
              <div class="otziv_card_text">
                <div class="otziv_card_name">ОКСАНА:</div>
                Оперативно приехал, быстро и качественно произвёл ремонт.
                Лишнего не взял. Я довольна! Спасибо!
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="otziv_card">
              <img class="otziv_card_img" src="~assets/img/ot_2.png" alt="" />
              <div class="otziv_card_text">
                <div class="otziv_card_name">РЕГИНА:</div>
                Приятный молодой человек, оперативно устранил неполадку в
                стиральной машине. Поставил качественную запчасть и
                прокомментировал из-за чего машинка сломалась. Недорого. Всем
                советую!
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="otziv_card">
              <img class="otziv_card_img" src="~assets/img/ot_3.png" alt="" />

              <div class="otziv_card_text">
                <div class="otziv_card_name">ИЛЬШАТ:</div>
                Хороший мастер, знает свое дело. Я думал, что остался без
                стиральной машины, ей уже лет 8-10. Алмаз приехал и все
                сделал качественно и недорого. Все работает, как новая!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
         <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
      </div>
    </section>
  </div>
</template>

<script>
import modalkaVue from '@/components/modalka.vue'
import Slider from '@/components/Slider.vue'
import Repair from "@/components/Repair";
import Logo from "@/components/Logo";
import Map from "@/components/Map";

export default {
  components: {
    Logo,
    Repair,
    Slider,
    Map
  },

  head() {
    return {
      title: 'Бытовая техника Казань ☛ Б/у и новая ☛ Гарантия ☛ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionHome',
          name: 'description',
          content: 'Бытовая техника Казань ☛ Б/у и новая ☛ Гарантия ☛ компания Технолидер в Казани ★★★ Компания Технолидер в Казани ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Главная' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .main_image {
      margin-left: 90px;
      img {
        width: 238px;
        height: 412px;
      }
    }

    .hero_card_container {
      display: flex;
      justify-content: space-between;

      .hero_card_wrapper {
        margin-bottom: 70px;
        .hero_card {
          box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
          background: #fcfcfc;
          position: relative;
          height: 112px;
          border-radius: 15px;

          .hero_card_text {
            top: 36px;
            position: absolute;
            right: 18px;
            font-family: 'PtRootUiBold';
            font-style: normal;
            font-size: 16px;
            line-height: 140%;
            /* or 22px */

            color: #545454;
          }
          img {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .number_one {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    .number_one_container {
      position: relative;
      z-index: 100;
      .number_text {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);

        .n_1 {
          font-family: 'PtRootUiBold';
          font-size: 40px;
          line-height: 50px;
          color: #ffffff;
        }
        .n_1_kazan {
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-weight: bold;
          font-size: 9px;
          line-height: 11px;
          /* identical to box height */

          letter-spacing: 0.185em;

          color: #ffffff;
        }
      }
    }
  }
}

.why_us {
  background: #f4f4f4;
  height: auto;
  padding-top: 92px;
  .wh_card {
    margin-bottom: 115px;
    position: relative;
    img {
      position: absolute;
    }
    .wh_card_text {
      padding-top: 181px;
      .wh_card_text_bold {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */
        color: #404040;
        margin-bottom: 15px;
      }
    }
  }
}

.we_repair {
  padding-top: 115px;
  padding-bottom: 84px;
  .repair_container {
    .row {
      margin-bottom: 70px;
      .repair_block {
        display: flex;
        position: relative;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        .repair_block_image {
          position: absolute;
        }
        .repair_block_text {
          margin-left: 90px;
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */
          color: #000000;
        }
      }
    }
  }
}

.we_cheapier {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  .back_photo {
    position: absolute;
    width: 800px;
    height: 100%;
    background: url('~assets/img/main_cheapier.png');
  }
  background: #f4f4f4;

  .we_cheapier_left {
    position: relative;
    padding-top: 58px;
    padding-bottom: 49px;
    h2 {
      margin-bottom: 31px;
    }
    h3 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 29px;
      max-width: 357px;
    }

    .main_cheap {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 250px;
    }
  }
}
.helper_1 {
  position: relative;
  .wait_for_you {
    position: absolute;
    top: -145px;
    left: 50%;
    width: 453px;
    background: #57c2de;
    border-radius: 10px;
    padding-top: 33px;
    padding-left: 73px;
    padding-right: 46px;
    padding-bottom: 44px;
    .wait_for_you_content {
      .wfy_header {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 28px;
        line-height: 35px;
        /* identical to box height */

        color: #ffffff;
        margin-bottom: 3px;
      }
      .wfy_text {
        font-size: 18px;
        line-height: 160%;
        /* or 29px */

        color: #ffffff;
        margin-bottom: 16px;
      }
      .wfy_map {
        display: flex;
        align-items: center;
        .map_icon {
          margin-right: 10px;
          img {
            height: 25px;
            width: 20px;
          }
        }
        .map_text {
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 160%;
          /* or 29px */

          color: #ffffff;
        }
      }
    }
  }
  .wait_for_you_imgs {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
    }

    .box_helper {
      top: -30px;
      right: 0px;
    }
  }
}

.lables {
  padding-top: 43px;
  img {
    width: 100%;
    height: 100%;
  }
}

.about_us {
  background: #57c2de;
  padding-bottom: 82px;
  .about_us_top {
    overflow: hidden;
    position: relative;
    .about_us_left {
      padding-top: 67px;
      padding-bottom: 130px;
      h2 {
        font-size: 60px;
        line-height: 76px;

        color: #ffffff;
      }
      p {
        max-width: 350px;
        margin-top: 19px;
        color: #ffffff;
      }
      button {
        margin-top: 18px;
      }
    }

    .au_top_img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  }
  .big_card {
    background: #ffffff;
    border-radius: 10px;
    min-height: 300px;
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-left: 47px;

    .worker_img {
      img {
        height: 500px;
      }
    }
    .about_techno {
      margin-left: 20px;
      padding-right: 20px;
      p {
        margin-top: 23px;
        max-width: 479px;
      }
    }
  }
}

.on_home_repair {
  padding-top: 73px;
  background: url('~assets/img/home_r_bg.png');
  background-size: cover;
  .on_home_repair_left {
    h2 {
      margin-bottom: 60px;
      color: #000000;
    }

    .on_home_repair_main {
      height: 100%;
      position: relative;
      width: 100%;
      min-height: 640px;
      margin-bottom: 10px;
      img {
        right: 0;
        position: absolute;
      }
    }
  }

  .h_r_f_block {
    margin-bottom: 33px;
    &_img {
    }
    &_description {
    }
    &_bold {
      margin-top: 21px;
      margin-bottom: 12px;
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      color: #000000;
    }
  }
}

.price {
  padding-top: 77px;
  p {
    margin-top: 6px;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */

    text-align: center;

    color: #000000;
  }

  .price_card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #fcfcfc;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    padding-top: 45px;
    padding-left: 48px;
    padding-right: 30px;
    padding-bottom: 40px;
    &_img {
      position: absolute;
    }

    &_name {
      margin-top: 183px;
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-weight: bold;
      font-size: 26.1194px;
      line-height: 33px;
      /* identical to box height */

      color: #000000;
      margin-bottom: 13px;
    }

    .price_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .price_price {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 12px;
        line-height: 160%;
        /* or 19px */

        letter-spacing: 0.345em;
        text-transform: uppercase;

        color: #000000;

        opacity: 0.4;
      }
      .price_number {
        display: flex;
        align-items: center;
        .p_number {
          font-size: 30px;
          line-height: 160%;
          /* or 48px */
          color: #57c2de;

          margin-right: 4px;
          span {
            font-family: 'PtRootUiBold';
          }
        }
        .valuta {
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 160%;
          /* identical to box height, or 37px */

          color: #57c2de;
        }
      }
    }
    button {
      margin-top: 25px;
      width: 100%;
    }
  }
}

.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 196px;
        height: 52px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-family: 'PtRootUiBold';
        font-size: 21px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.18em;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  //Smartphones

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .hero {
    background: none;
    .number_one {
      right: 0;
      top: 70px;
      transform: none;
      width: 70px;
      height: 120px;
      .number_one_container {
        height: 120px;
        img {
          height: 120px;
        }
      }
    }

    .hero_container {
      .hero_card_container {
        background: #57c2de;
        padding-top: 71px;
        padding-bottom: 70px;
        .hero_card {
          img {
            display: block;
            width: 30%;
          }
          width: 100%;
          height: 166px;
          .hero_card_text {
            font-size: 24px;
            line-height: 140%;

            color: #545454;
          }
        }
      }
    }
  }

  .why_us {
    .wh_card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      .wh_card_text {
        padding-top: 0;
        .wh_card_text_bold {
          display: block;
          font-size: 28px;
          line-height: 150%;
        }
      }

      img {
        width: 20%;
        position: relative;
        display: block;
        margin-right: 30px;
      }
    }
  }

  .we_repair {
    .repair_container {
      .row {
        margin-bottom: 0;
        h2 {
          text-align: center;
          margin-bottom: 74px;
        }
        .repair_block {
          margin-bottom: 74px;
          width: 100% !important;
          .repair_block_text {
            margin-left: 100px;
            font-size: 22px;
            line-height: 140%;
          }
        }
      }
    }
  }

  .we_cheapier {
    img {
      margin-left: -50px;
    }
  }

  .helper_1 {
    .wait_for_you {
      z-index: 10;
      left: 10%;
      right: 10%;
      width: auto;
    }
    .wait_for_you_imgs {
      img {
        position: absolute;
      }
      .box_helper {
        top: 30px;
        left: -140px;
        z-index: 11;
      }
      .helper_bz {
        right: -30px;
        top: 20px;
        z-index: 11;
      }
      .helper_notes {
        z-index: 9;
        right: 0px;
        top: -250px;
      }
      .helper_plita {
        z-index: 8;
        left: -50px;
        top: -250px;
      }
      .helper_box2 {
        z-index: 9;
        left: 0px;
        top: -100px;
      }
    }
  }

  .about_us {
    .about_us_main_mobi {
      width: 100%;
      margin-top: -5px;
    }
    .about_us_top {
      img {
        width: 100vw !important;
      }
    }
    .about_us_top {
      margin-top: -160px;
    }

    .about_us_bottom {
      .big_card {
        padding-top: 0;
        padding-left: 0;
        background: none;
        display: flex;
        flex-direction: column;

        .worker_img {
          position: relative;
          .worker_img_img {
            z-index: 10;
          }
          .about_us_white_mobi {
            z-index: 9;
            position: absolute;
            width: 100vw;
            height: 100vh;
          }
        }
        .about_techno {
          margin: 0;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 119px;
          background: #ffffff;
          border-radius: 10px;
          padding-top: 60px;
        }
      }
    }
  }

  .lables {
    padding-top: 100px;

    .lables_slider {
      overflow-y: scroll;
      white-space: nowrap;
      img {
        width: auto;
        height: 100%;
        display: block;
      }
    }

    .icon_slide {
      width: 100px;
      margin-bottom: 40px;
    }
  }

  .on_home_repair {
    background: none;
    .h_r_f_block_img {
      width: 73px;
    }
    .h_r_f_block_bold {
      font-size: 25px;
      line-height: 150%;
    }

    .on_home_repair_left {
      margin-bottom: 100px;
      .on_home_repair_main_mobi {
        img {
          width: 150vw;
          margin-top: -200px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_us .about_us_top .au_top_img {
    right: -400px;
  }

  .hero .hero_container .hero_card_container .hero_card {
    img {
      width: 3rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about_us .about_us_top .au_top_img {
    right: -500px;
  }
  .hero .hero_container .hero_card_container .hero_card {
    img {
      display: none;
    }
  }
  .helper_1 .wait_for_you {
    left: auto;
    right: 0;
  }
  .helper_1 .wait_for_you_imgs .box_helper {
    right: 260px;
  }
}
</style>


