<template>
  <div>
    <div class="main">
      <div class="hero">
        <div class="hero_container">
          <div class="container-xl">
            <div class="row">
              <div class="col-md-6 col-12">
                <h1>
                  <span class="big">О нашей компании</span>
                </h1>
                <div class="center-xs">
                   <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
                </div>
              </div>
              <div class="col-md-6 d-none d-md-flex main_image">
                <img loading="lazy" src="~assets/img/onas_header.png" alt="" />
              </div>
            </div>
          </div>

          <herocard />
        </div>
      </div>
      <section class="lables container">
        <div class="lables_slider">
          <img loading="lazy" src="~assets/img/lables.png" alt="" />
        </div>

        <div class="center d-md-none">
          <img loading="lazy" class="icon_slide" src="~assets/icons/slide.svg" alt="" />
        </div>
      </section>

      <section class="master_po_remontu">
        <div class="img_block">
          <img
            loading="lazy"
            class="d-block d-md-none w-100"
            src="~assets/img/rem_mobi.png"
            alt=""
          />
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div
              class="offset-md-4 col-md-6 col-lg-6 master_po_remontu_container"
            >
              <h2>
                Торгово-ремонтная компания «ТехноЛидер» — чемпион на рынке
                подержанной бытовой техники в Казани.
              </h2>
              <p>
                В процессе эксплуатации любая техника может выйти из строя. Это
                доставляет немало хлопот современным хозяйкам. И если у Вас не
                возникло желания бежать за новой стиральной машиной,
                холодильником или плитой, наша организация поможет решить эту
                проблему недорого и наилучшим образом. Доверие людей наша
                главная ценность. Поэтому каждому клиенту предоставляется
                следующий спектр услуг и преимуществ: Честные цены; Быстрое и
                качественное устранение неполадок; Выезд мастера на дом в любое
                удобное для Вас время; Экспертиза технологического состояния
                оборудования; Гарантия и соблюдение сроков; Наилучший
                ассортимент запчастей в городе; Добросовестное исполнение своих
                обязанностей. Мы работаем со многими брендами (Indesit, Bosch и
                т.д.) и можем безупречно справиться с неполадками всего
                модельного ряда.
              </p>
               <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
            </div>
          </div>
        </div>
      </section>

      <section class="grey_box pt-5 pb-5">
        <div class="container">
          <div class="numbers pt-5">
            <div class="row">
              <div class="col-md-4">
                <div class="numbers_item d-flex align-items-center">
                  <img loading="lazy" src="~assets/icons/onas_numbers_1.svg" alt="" />
                  <div class="numbers_item_text ml-4">
                    <h2>17,682 шт.</h2>
                    <p class="mb-0">Бытовой техники продано</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="numbers_item d-flex align-items-center">
                  <img loading="lazy" src="~assets/icons/onas_numbers_2.svg" alt="" />
                  <div class="numbers_item_text ml-4">
                    <h2>3</h2>
                    <p class="mb-0">Года на рынке</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="numbers_item d-flex align-items-center">
                  <img loading="lazy" src="~assets/icons/onas_numbers_3.svg" alt="" />
                  <div class="numbers_item_text ml-4">
                    <h2>8633</h2>
                    <p class="mb-0">Довольных клиентов за все время работы</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gramota pt-5">
            <h2 class="mb-5">Наши грамоты</h2>
            <div class="row">
              <div class="col-md-3 col-6">
                <img loading="lazy" class="img-fluid" src="~assets/img/gramota.png" alt="" />
              </div>
              <div class="col-md-3 col-6">
                <img loading="lazy" class="img-fluid" src="~assets/img/gramota.png" alt="" />
              </div>
              <div class="col-md-3 col-6">
                <img loading="lazy" class="img-fluid" src="~assets/img/gramota.png" alt="" />
              </div>
              <div class="col-md-3 col-6">
                <img loading="lazy" class="img-fluid" src="~assets/img/gramota.png" alt="" />
              </div>
            </div>
          </div>
          <div class="photos pt-5">
            <h2 class="mb-5">Фотографии</h2>
            <div class="photos_container">
              <div class="row">
                <div class="col-md-4">
                  <img loading="lazy" class="img-fluid" src="~assets/img/onas_1.png" alt="" />
                </div>
                <div class="col-md-4">
                  <img loading="lazy" class="img-fluid" src="~assets/img/onas_1.png" alt="" />
                </div>
                <div class="col-md-4">
                  <img loading="lazy" class="img-fluid" src="~assets/img/onas_1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="otzivy">
        <div class="container">
          <h2 class="mb-5">Наши спецпредложения</h2>
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch h-100">
              <div class="otziv_card h-100">
                <img
                  loading="lazy"
                  class="otziv_card_img"
                  src="~assets/img/onas_sp_1.png"
                  alt=""
                />
                <div class="otziv_card_text">
                  <div class="otziv_card_name">
                    Диагностика <br />
                    бесплатно
                  </div>
                  При ремонте мы не считаем диагностику, это будет бесплатно!
                </div>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch h-100">
              <div class="otziv_card h-100">
                <img
                  loading="lazy"
                  class="otziv_card_img"
                  src="~assets/img/onas_sp_2.png"
                  alt=""
                />
                <div class="otziv_card_text">
                  <div class="otziv_card_name">
                    Скидка 5% <br />
                    постоянным клиентам
                  </div>
                  Наши цены всегда консервативны, так как мы желаем, чтобы Вы обратились к нам вновь!
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch h-100">
              <div class="otziv_card h-100">
                <img
                  loading="lazy"
                  class="otziv_card_img"
                  src="~assets/img/onas_sp_3.png"
                  alt=""
                />

                <div class="otziv_card_text">
                  <div class="otziv_card_name">
                    Доставка <br />
                    в день заказа
                  </div>
                  Вы можете совершить заказ, не вставая с дивана!
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="predstav pt-4 pb-5">
        <div class="container">
          <h2 class="mb-5">Представители компании</h2>
          <div class="row mb-4">
            <div class="col-md-4">
              <div class="pred_card">
                <img loading="lazy" src="~assets/img/onas_pred_sample.png" alt="" />
                <div class="pred_card_content">
                  <div class="name">Андрей Рис</div>
                  <p>Управляющий сервисным центром «ТехноЛидер»</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pred_card">
                <img loading="lazy" src="~assets/img/onas_pred_sample.png" alt="" />
                <div class="pred_card_content">
                  <div class="name">Андрей Рис</div>
                  <p>Управляющий сервисным центром «ТехноЛидер»</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pred_card">
                <img loading="lazy" src="~assets/img/onas_pred_sample.png" alt="" />
                <div class="pred_card_content">
                  <div class="name">Андрей Рис</div>
                  <p>Управляющий сервисным центром «ТехноЛидер»</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="pred_small">
                <img
                  loading="lazy"
                  class="img-fluid mb-2"
                  src="~assets/img/onas_pred_sample.png"
                  alt=""
                />
                <h3>Алексей Орлов</h3>
                <p>Продавец-консультант</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pred_small">
                <img
                  loading="lazy"
                  class="img-fluid mb-2"
                  src="~assets/img/onas_pred_sample.png"
                  alt=""
                />
                <h3>Алексей Орлов</h3>
                <p>Мастер по ремонту и обслуживания бытовой техники</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pred_small">
                <img
                  loading="lazy"
                  class="img-fluid mb-2"
                  src="~assets/img/onas_pred_sample.png"
                  alt=""
                />
                <h3>Алексей Орлов</h3>
                <p>Менеджер по работе с клиентами</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pred_small">
                <img
                  loading="lazy"
                  class="img-fluid mb-2"
                  src="~assets/img/onas_pred_sample.png"
                  alt=""
                />
                <h3>Алексей Орлов</h3>
                <p>Главный бухгалтер</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import modalkaVue from '@/components/modalka.vue'
import Herocard from "@/components/Herocard";
export default {
  components: {Herocard},
  head() {
    return {
      title: 'Сервисный центр Казань ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionONas',
          name: 'description',
          content: 'Сервисный центр в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00)'
        }
      ]
    }
  },

  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'О нас' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      overflow: hidden;
      img {
        width: 395px;
        height: 353px;
      }
    }
  }
}

.lables {
  padding-top: 43px;
  img {
    width: 100%;
    height: 100%;
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    position: relative;
    .stiralka_mobi {
      position: absolute;
      top: 200px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 150px;
    padding-bottom: 60px;
    position: relative;
    p {
      margin-bottom: 50px;
    }
    img {
      z-index: 3;
      top: 400px;
      left: 50px;
      mix-blend-mode: multiply;
      position: absolute;
    }
  }
  button {
    width: 100%;
  }
}

.grey_box {
  background: #f7f7f7;
}

.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 260px;
        height: 78px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-size: 21px;
        line-height: 26px;

        color: #57c2de;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 60px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
      height: auto;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}

.predstav {
  .pred_card {
    margin-bottom: 2rem;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    img {
      width: 100%;
      height: 373px;
      object-fit: cover;
    }
    .pred_card_content {
      position: relative;
      background: #57c2de;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 15px;
      color: #ffffff;

      .name {
        z-index: 10;
        position: absolute;
        top: -36px;
        width: auto;
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-size: 21px;
        line-height: 26px;
        left: 30px;
        color: #57c2de;
      }
    }
  }
}

.custom-arrow {
  position: absolute;

  &.left {
    left: 0;
    top: 50%;
  }
  &.right {
    right: 0;
    bottom: 50%;
  }
}

.about_company {
  background: #57c2de;
  overflow: hidden;
  .onas_remont {
    height: 100%;
  }
  h2 {
    color: white;
  }
  p {
    color: white;
  }
}

.we_cheapier {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  .back_photo {
    position: absolute;
    width: 800px;
    height: 100%;
    background: url('~assets/img/main_cheapier.png');
  }
  background: #f4f4f4;

  .we_cheapier_left {
    position: relative;
    padding-top: 58px;
    padding-bottom: 49px;
    h2 {
      margin-bottom: 31px;
    }
    h3 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 29px;
      max-width: 357px;
    }

    .main_cheap {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 250px;
    }
  }
}

.numbers {
  .numbers_item {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero {
    background: none;
    .number_one {
      right: 0;
      top: 70px;
      transform: none;
      width: 70px;
      height: 120px;
      .number_one_container {
        height: 120px;
        img {
          height: 120px;
        }
      }
    }

    .hero_container {
      .hero_card_container {
        background: #57c2de;
        padding-top: 71px;
        padding-bottom: 70px;
        .hero_card {
          img {
            display: block;
            width: 30%;
          }
          width: 100%;
          height: 166px;
          .hero_card_text {
            font-size: 24px;
            line-height: 140%;

            color: #545454;
          }
        }
      }
    }
  }

  .lables {
    .lables_slider {
      overflow-y: scroll;
      white-space: nowrap;
      img {
        width: auto;
        height: 100%;
        display: block;
      }
    }

    .icon_slide {
      width: 100px;
      margin-bottom: 40px;
    }
  }

  .master_po_remontu {
    background: none;
  }

  .we_cheapier {
    img {
      margin-left: -50px;
    }
  }
  .helper_1 {
    .wait_for_you {
      z-index: 10;
      left: 10%;
      right: 10%;
      width: auto;
    }
    .wait_for_you_imgs {
      img {
        position: absolute;
      }
      .box_helper {
        top: 30px;
        left: -140px;
        z-index: 11;
      }
      .helper_bz {
        right: -30px;
        top: 20px;
        z-index: 11;
      }
      .helper_notes {
        z-index: 9;
        right: 0px;
        top: -250px;
      }
      .helper_plita {
        z-index: 8;
        left: -50px;
        top: -250px;
      }
      .helper_box2 {
        z-index: 9;
        left: 0px;
        top: -100px;
      }
    }
  }

  .numbers {
    .numbers_item {
      margin-bottom: 30px;
      img {
        width: 20%;
      }
      .numbers_item_text {
        h2 {
          text-align: right;
        }
      }
      justify-content: space-between;
    }
  }

  .master_po_remontu_container {
    padding-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .helper_1 .wait_for_you {
    left: auto;
    right: 0;
  }
  .helper_1 .wait_for_you_imgs .box_helper {
    right: 260px;
  }
}
</style>
