<template>
  <div :key="$route.fullPath" class="order-page">
    <SfHeading
      :title="$t('Thank you')"
      class="order-page__heading"
    />
    <SfDivider />
    <button class="btn btn-cta d-flex align-items-center justify-content-center" @click="$router.push($routing.getUrl('/'))">
      <SfIcon icon="chevron_left" color="white" size="20px" />
      {{ $t("Return to homepage") }}
    </button>
  </div>
</template>
<script>
import { SfHeading, SfIcon, SfDivider } from "@storefront-ui/vue"
import { computed } from "@vue/composition-api"
import { useBreadcrumbs } from "@shopware-pwa/composables"
import SwButton from "@/components/atoms/SwButton.vue"
import SwOrderDetails from "@/components/SwOrderDetails.vue"

export default {
  name: "OrderPage",
  components: {
    SfHeading,
    SwButton,
    SfIcon,
    SfDivider,
    SwOrderDetails,
  },
  data() {
    return {}
  },
  setup(props, { root }) {
    const { setBreadcrumbs } = useBreadcrumbs()
    setBreadcrumbs([
      {
        name: root.$t("Thank you"),
        path: "/",
      },
    ])

    const orderId = computed(() => root.$route.query.orderId)

    return {
      orderId,
    }
  },
}
</script>
<style lang="scss" scoped>
@import "@/assets/scss/variables";

.order-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;

  &__heading {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      font-size: 5rem;
      color: var(--c-primary);
    }
  }

  .sf-divider {
    border-color: #fff;
    max-width: var(--header-width, 77.5rem);
  }

  .sf-icon {
    float: left;
    margin-right: 20px;
  }
}
</style>
