<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1>
                <span class="big">Ремонт</span>
                <span class="small">Стиральных <br />машин</span>
              </h1>
              <div class="center-xs">
                <div class="hero_subtext">
                  Мы осуществляем ремонт стиральных машин и электроники на дому
                  недорого в Казани.
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img loading="lazy" src="~assets/img/main_stiralka.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img loading="lazy" src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard />
      </div>
    </div>

    <repair />

    <section class="master_po_remontu">
      <div class="img_block">
        <img
          loading="lazy"
          class="stiralka_mobi d-block d-md-none"
          src="~assets/img/stiralka_true.png"
          alt=""
        />
        <img
          loading="lazy"
          class="d-block d-md-none w-100"
          src="~assets/img/rem_mobi.png"
          alt=""
        />
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 master_po_remontu_container">
            <h2>Мастер по ремонту стиральных машин</h2>
            <p>
              Cтиральная машина зарекомендовала себя как незаменимый помощник в
              борьбе за чистоту. И в настоящее время эта техника превосходит все
              ожидания. При этом, как и любая машина, она не застрахована от
              поломок, и если Вы сейчас не готовы бежать в магазин за новым
              агрегатом, то устранить все неполадки Вам помогут мастера компании
              «ТехноЛидер».
            </p>
             <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
            <img
              loading="lazy"
              class="d-none d-md-block"
              src="~assets/img/stiralka_true.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="danger">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Чаще всего это:</h2>
            <ul class="mt-3 mb-4">
              <li>Износ</li>
              <li>Выход из строя ТЭНа или электродвигателя</li>
              <li>Неисправность клапана</li>
              <li>Загрязнение фильтра</li>
              <li>Поломка блока управления</li>
              <li>Неправильное подключение канализации</li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="danger_card d-flex">
              <div class="icon">
                <img loading="lazy" src="~assets/icons/danger.svg" alt="" />
              </div>
              <div class="danger_card_content">
                <div class="danger_card_content_header">
                  Убедительная просьба
                </div>
                <p>
                  Не пробуйте решить проблему самостоятельно, чтобы не усугубить
                  ситуацию. Стиральная машина — очень сложное устройство, и, несомненно,
                  верным решением будет обратиться за помощью к
                  нашим ребятам. Наши профессионалы осуществят качественный
                  ремонт машины любого производителя прямо у Вас на глазах,
                  предоставив гарантии на проделанные работы и не опустошив Ваш
                  кошелек.
                </p>
                <div class="danger_card_wrapper">
                  <div class="danger_card_tel">
                    <p>Связаться с нами Вы можете по номеру</p>
                    <div class="tel">
                      <a href="tel:88432165579"> 8 (843) 216-55-79 </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость ремонта <br />
              посудомоечной машины <br />
              за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img src="~assets/img/table_stiralka.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Выезд/диагностика</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Очистка фильтров</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена шланга</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена ТЭНа</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена замка двери</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <section class="brands">
      <div class="container">
        <h2 class="text-center">Обслуживаем бренды</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_1.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_2.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_3.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_4.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_5.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_6.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="brands_card">
              <img src="~assets/img/stir_brand_7.png" alt="" />
            </div>
          </div>
          <div class="col-md-3">
            <div class="text_brand">и другие...</div>
          </div>
        </div>
      </div>
    </section>

    <otzivy />

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Herocard from '@/components/Herocard.vue'
import Numberone from '@/components/Numberone.vue'
import Otzivy from '@/components/Otzivy.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
export default {
  head() {
    return {
      title: 'Ремонт стиральных машин ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionRemontStiralnyhMashin',
          name: 'description',
          content: 'Ремонт стиральных машин в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  components: {Herocard, Numberone, Repair, Otzivy, Circlewh },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Стиральные машины' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>
    Herocard

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 323px;
        height: 495px;
      }
    }
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    position: relative;
    .stiralka_mobi {
      position: absolute;
      right: -30px;
      top: 30px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 170px;
    padding-bottom: 60px;
    position: relative;
    img {
      top: 0;
      position: absolute;
      left: calc(100% - 50px);
    }
  }
  button {
    width: 100%;
  }
}

.danger {
  background: #f7f7f7;
  padding-top: 73px;
  h2 {
    margin-bottom: 14px;
  }
  ul {
    list-style: none; /* Remove default bullets */
    li {
      margin-bottom: 20px;
    }
  }

  ul li::before {
    content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #56beda; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
  }
  .danger_card {
    padding-top: 47px;
    padding-left: 45px;
    padding-right: 90px;
    padding-bottom: 100px;
    background: #56beda;
    border-radius: 10px;
    .danger_card_content {
      position: relative;
      .danger_card_content_header {
        font-family: 'PtRootUiBold';
        font-size: 22px;
        line-height: 150%;
        color: #ffffff;
        margin-bottom: 25px;
      }
      p {
        color: white;
      }
      margin-left: 25px;

      .danger_card_wrapper {
        position: absolute;
        bottom: -157px;
        width: 313px;
        height: 100px;
        &:after {
          position: absolute;
          content: '';
          top: 10px;
          left: 5%;
          width: 90%;
          height: 100px;
          border-radius: 13px;
          z-index: 8;
          background: #f4f4f4;
        }
        .danger_card_tel {
          background: white;
          padding-top: 20px;
          padding-left: 35px;
          padding-right: 30px;
          padding-bottom: 16px;
          z-index: 9;
          background: #fcfcfc;
          position: relative;
          height: 100px;
          border-radius: 15px;
          p {
            font-family: 'PtRootUiLight';
            font-size: 13px;
            line-height: 213%;
            /* or 28px */
            color: #000000;
            margin-bottom: 3px;
          }
          .tel {
            font-family: 'Bebas';
            font-size: 34px;
            line-height: 112%;
            /* or 38px */
            text-transform: uppercase;
            color: #57c2de;
          }
        }
      }
    }
  }
}

.table_price {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    margin-top: 60px;
    height: 100%;
    img {
      z-index: 9;
      position: absolute;
      right: 0;
    }
  }
  button {
    z-index: 10;
    margin-top: 60px;
  }
}

.brands {
  padding-top: 88px;
  h2 {
    margin-bottom: 50px;
  }
  .brands_card {
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
  }
  .text_brand {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 27.5294px;
    line-height: 35px;
    /* identical to box height */

    color: #595959;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones

  .hero {
    background: none;

    .hero_container {
    }
  }

  .master_po_remontu {
    background: none;
  }

  .danger {
    .danger_card {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      .icon {
        margin-left: 20px;
        margin-bottom: 30px;
      }
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}
</style>
