<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12 pt-5">
              <h1>
                <span class="big">Ремонт</span>
                <span class="small">телевизоров</span>
              </h1>
              <div class="center-xs">
                <div class="hero_subtext">
                  Мы осуществляем ремонт бытовой <br />
                  техники и электроники на дому
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img loading="lazy" src="~assets/img/main_tv.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img loading="lazy" src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard />
      </div>
    </div>

    <repair />

    <section class="master_po_remontu">
      <div class="img_block">
        <img
          loading="lazy"
          class="stiralka_mobi d-block d-md-none"
          src="~assets/img/tv_true.png"
          alt=""
        />
        <img
          loading="lazy"
          class="d-block d-md-none w-100"
          src="~assets/img/rem_mobi.png"
          alt=""
        />
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div
            class="offset-lg-3 col-md-6 col-lg-6 master_po_remontu_container"
          >
            <h2>Ремонт телевизоров на дому</h2>
            <p>
              Телек, ящик, плазма….. Как только его не называют. В давнюю эпоху
              они были только черно-белые, показывали пару каналов и были не у
              всех. Сейчас же не встает вопроса о его наличии, встаёт вопрос об
              их количестве в доме. Телевизор - неотъемлемый источник информации
              и атрибут нашей жизни…. Но бывает, смотришь на экран своего друга,
              а там только пыль. А все потому, что он сломался и требует
              ремонта. В таком случае, в кратчайшие сроки и за приемлемые цены
              устранить неполадки Вам поможет наша бригада.
            </p>

            <div class="row">
              <div class="col-md-8">
                <h2>Вызов мастера</h2>

                <p>
                  Мы располагаем огромным опытом и выполняем свои обязанности на
                  высоком уровне. Телевизоры бывают плоские, тонкие,
                  проекционные, плазменные, жидкокристаллические, кинескопные и
                  с любым из них мы найдем общий язык.
                </p>
              </div>
            </div>

            <img
              loading="lazy"
              class="d-none d-md-block"
              src="~assets/img/tv_true.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость <br />
              ремонта телевизора <br />
              за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img loading="lazy" src="~assets/img/table_tv.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Выезд/диагностика</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт блока питания</td>
                <td class="right_col">от 1,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт основаной платы</td>
                <td class="right_col">от 2,000 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт платы инвертора</td>
                <td class="right_col">от 2,000 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт платы T-CON</td>
                <td class="right_col">от 1,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена TV тюнера</td>
                <td class="right_col">от 2,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена LED подставки</td>
                <td class="right_col">от 2,000 руб.</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta" @click="showModal()">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Herocard from '@/components/Herocard.vue'
import Numberone from '@/components/Numberone.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
export default {
  head() {
    return {
      title: 'Ремонт телевизоров на дому ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionRemontTelevizorov',
          name: 'description',
          content: 'Ремонт телевизоров на дому в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  components: {Herocard, Numberone, Repair, Circlewh },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Телевизоры' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

    Herocard
<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 366px;
        height: 453px;
      }
    }
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    position: relative;
    .stiralka_mobi {
      position: absolute;
      right: -50px;
      bottom: -100px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 170px;
    padding-bottom: 60px;
    position: relative;
    img {
      z-index: 10;
      bottom: -60px;
      position: absolute;
      left: calc(100% - 50px);
    }
  }
  button {
    width: 100%;
  }
}

.about_master {
  z-index: 10;
  background: #f7f7f7;
  position: relative;
  .about_master_wrapper {
    margin-top: -38px;
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      content: '';
      top: -20px;
      left: 5%;
      width: 90%;
      height: 100%;
      border-radius: 13px;
      z-index: 8;
      background: #e1e1e1;
    }
    .about_master_block {
      height: 100%;
      background: white;
      padding-top: 39px;
      padding-left: 76px;
      padding-right: 94px;
      padding-bottom: 65px;
      z-index: 9;
      background: #fcfcfc;
      position: relative;

      border-radius: 15px;
      display: flex;
      img {
        margin-bottom: 20px;
        margin-right: 70px;
      }
    }
  }
}

.brands {
  padding-top: 100px;

  .brands_col {
    display: flex;
    justify-content: space-between;
    img {
      margin-bottom: 90px;
    }
  }
}

.about_condey {
  h2 {
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 42px;
  }
  button {
    margin-bottom: 50px;
  }

  .img_container {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
      bottom: 0;
      left: -100px;
      height: 150%;
    }
  }
}

.table_price {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    z-index: 150;
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    z-index: 9;
    margin-top: 60px;
    height: 100%;
    img {
      z-index: 9;
      position: absolute;
      right: 0;
    }
  }
  button {
    z-index: 10;
    margin-top: 60px;
  }
}

.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 196px;
        height: 52px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-family: 'PtRootUiBold';
        font-size: 21px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.18em;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones

  .hero {
    background: none;

    .hero_container {
      margin-top: 100px;
    }
  }

  .master_po_remontu {
    background: none;
  }

  .about_master {
    .about_master_block {
      flex-direction: column;
      padding-left: 20px !important;
      padding-right: 20px !important;
      img {
        width: 161px;
      }
    }
  }

  .brands {
    .brands_col {
      flex-direction: column;
      align-items: center;
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}
</style>
