<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="center-xs">
                <h1>
                  <span class='big'>Ремонт</span>
                  <span class='small'>ноутбуков</span>
                </h1>
                <div class="hero_subtext">
                  Мы осуществляем ремонт ноутбуков <br />
                  и электроники на дому недорого в Казани.
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img loading="lazy" src="~assets/img/big_notebook.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img loading="lazy" src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard />
      </div>
    </div>
    <repair />

    <section class="master_for_home">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="left_master_for_home">
              <img loading="lazy" src="~assets/img/repair_man_second.png" alt="" />
            </div>
          </div>
          <div class="col-md-5 right_master_for_home">
            <h2 class="mb-4">Мастер по ремонту на дому</h2>
            <p class="mb-4">
              Ваш ноутбук важен в Вашей повседневной жизни, и мы это понимаем.
              Вот почему мы предлагаем ремонт в тот же день. Независимо от марки
              ноутбука, мы можем заверить Вас, что сможем решить любые
              возникающие проблемы. Toshiba с треснутым экраном? Мы можем это
              исправить. MacBook, который перегревается? Мы заставим его
              «остыть». Дайте нам знать, в чем проблема, или зайдите к нам на
              бесплатную диагностическую проверку.
            </p>
            <div class="master_for_home_icons_container">
              <div class="custom_row">
                <div class="icon">
                  <img loading="lazy" src="~assets/icons/time.svg" alt="" />
                </div>
                <p>Ремонт в день обращения</p>
              </div>
              <div class="custom_row">
                <div class="icon">
                  <img loading="lazy" src="~assets/icons/diagnos.svg" alt="" />
                </div>
                <p>Бесплатная диагностика</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_tehno">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="about_tehno_card_wrapper">
              <div class="about_tehno_card">
                <div class="about_tehno_card_img_mobi d-md-none">
                  <img
                    loading="lazy"
                    class="logo_pick"
                    src="~assets/icons/logo_pick.svg"
                    alt=""
                  />
                  <img
                    loading="lazy"
                    class="notebook_about_tehno"
                    src="~assets/img/notebook_about_tehno.png"
                    alt=""
                  />
                </div>
                <div class="about_tehno_card_img d-none d-md-block">
                  <img
                    loading="lazy"
                    src="~assets/icons/technolider_notebook_icon.svg"
                    alt=""
                  />
                </div>
                <div class="about_tehno_card_container">
                  <p>
                    Сервис «ТехноЛидер» предлагает широкий спектр услуг по ремонту
                    ноутбуков недорого. Ремонтируем настольные компьютеры и ноутбуки,
                    меняем ЖК - и светодиодные экраны, настраиваем компьютеры и
                    параметры питания, проводим бесплатную диагностику для всех компьютеров.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость ремонта ноутбука за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img loading="lazy" src="~assets/img/notebook_table.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Выезд/диагностика</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена и настройка программного обеспечения</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Удаление вирусов и баннеров</td>
                <td class="right_col">от 350 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Установка антивируса</td>
                <td class="right_col">от 400 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена матрицы</td>
                <td class="right_col">от 1,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена клавиатуры</td>
                <td class="right_col">от 700 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена и ремонт видеочипа а так же северного моста</td>
                <td class="right_col">от 2,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Профилактика и Замена термопасты</td>
                <td class="right_col">от 800 руб.</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta" @click="showModal()">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Numberone from '@/components/Numberone.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
import Herocard from "@/components/Herocard";
export default {
  head() {
    return {
      title: 'Ремонт ноутбуков ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionRemontNoutbukovKazan',
          name: 'description',
          content: 'Ремонт ноутбуков в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  components: {Herocard, Numberone, Repair, Circlewh },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Ноутбуки' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>,
    Herocard

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 444px;
        height: 430px;
      }
    }
  }
}

.master_for_home {
  background: #f7f7f7;
  .container {
    .left_master_for_home {
      position: relative;
      height: 100%;
      img {
        position: absolute;
        height: 100%;
        right: 0;
      }
    }
    .right_master_for_home {
      padding-top: 90px;
      padding-bottom: 70px;
    }
    .master_for_home_icons_container {
      .custom_row {
        display: flex;
        flex-direction: row;
        margin-bottom: 27px;

        .icon {
          margin-right: 15px;
        }
        p {
          margin-top: 5px;
        }
      }
    }
  }
  overflow: hidden;
}

.about_tehno {
  background: #f7f7f7;
  margin-top: -26px;
  .about_tehno_card_wrapper {
    &:after {
      position: absolute;
      content: '';
      top: -10px;
      left: 30px;
      width: calc(100% - 60px);
      height: 100%;
      border-radius: 13px;
      z-index: 8;
      background: #44b5d2;
    }
    .about_tehno_card {
      z-index: 9;
      position: relative;
      background: #57c2de;
      border-radius: 10px;
      display: flex;
      .about_tehno_card_img {
      }
      .about_tehno_card_container {
        padding-top: 65px;
        padding-bottom: 65px;
        padding-right: 65px;
        p {
          color: white;
        }
      }
    }
  }
}

.table_price {
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    margin-top: 60px;
    height: 100%;
    img {
      position: absolute;
      right: 0;
    }
  }
  button {
    margin-top: 60px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones
  .master_for_home {
    .container {
      .left_master_for_home {
        height: 50vh;
        img {
          right: -100px;
        }
      }
    }
  }

  .hero {
    background: none;

    .hero_container {
    }
  }
  .about_tehno {
    .about_tehno_card_wrapper {
      .about_tehno_card {
        display: flex;
        position: relative;
        flex-direction: column;
        .about_tehno_card_img_mobi {
          height: 230px;
          img {
            position: absolute;
          }
          .logo_pick {
            top: 60px;
            left: 30px;
          }
          .notebook_about_tehno {
            right: 0;
          }
        }
      }
      .about_tehno_card_container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}
</style>
