<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1>
                <span class="big">Ремонт</span>
                <span class="small">ГАЗОВЫХ И ЭЛЕКТРИЧЕСКИХ <br />ПЛИТ</span>
              </h1>
              <div class="center-xs">
                <div class="hero_subtext">
                  Мы осуществляем выездной ремонт <br />
                  выездной ремонт кухонных плит и электроники.
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img loading="lazy" src="~assets/img/main_plita.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img loading="lazy" src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard />
      </div>
    </div>

    <repair />

    <section class="remont_posudomoek">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="left_remont_posudomoek">
              <img src="~assets/img/posuda_remont.png" alt="" />
            </div>
          </div>
          <div class="col-md-5 right_remont_posudomoek">
            <h2>Ремонт газовых плит и электроплит в Казани</h2>
            <p>
              Основной потребностью человека является еда. Сложно приготовить
              вкусный обед или ужин без электро или газовой плиты. Но зачастую
              неправильная эксплуатация или стечение обстоятельств приводит к
              поломке данной техники. Можно решить эту проблему ремонтом и не
              затрачиваться на покупку новой плиты. Дешево и быстро наши
              специалисты выяснят, в чем причина поломки и устранят ее. Решение
              приобрести новую технику для кухни принимается тяжело. Это решение
              должно быть взвешенным и тщательно обдуманным, ведь качество и
              надежность плиты – это уверенность в долгосрочном служении и
              безопасной работе. В этом сложном выборе всегда помогут наши
              специалисты!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость ремонта <br />
              Вашей плиты <br />
              за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img src="~assets/img/table_plita.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Выезд/диагностика</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена конфорки чугунной</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена конфорки стеклокерамической</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт сенсора</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт реле</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт таймера духовки</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт электроподжига</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Чистка форсунки конфорки</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta" @click="showModal()">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Herocard from '@/components/Herocard.vue'
import Numberone from '@/components/Numberone.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
export default {
  head() {
    return {
      title: '',
      meta: [
        {
          hid: 'descriptionHome',
          name: 'description',
          content: 'Amazon Relay Auto Booker & Auto Refresher - Rolling Global Digital'
        }
      ]
    }
  },

  components: { Numberone, Herocard, Repair, Circlewh },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Газовые плиты' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 402px;
        height: 501px;
      }
    }
  }
}

.remont_posudomoek {
  .left_remont_posudomoek {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
  .right_remont_posudomoek {
    padding-top: 62px;
    padding-bottom: 60px;
    h2 {
      margin-bottom: 27px;
    }
  }
}

.remont_na_domu {
  .left_remont_na_domu {
    padding-top: 120px;
    padding-bottom: 100px;
    p {
      margin-top: 30px;
      max-width: 472px;
    }
  }
  .right_remont_na_domu {
    height: 100%;
    img {
      margin-left: -100px;
      height: 100%;
    }
  }
}

.table_price {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    margin-top: 60px;
    height: 100%;
    img {
      z-index: 9;
      position: absolute;
      right: 0;
    }
  }
  button {
    z-index: 10;
    margin-top: 60px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones
  .master_for_home {
    .container {
      .left_master_for_home {
        height: 50vh;
        img {
          right: -100px;
        }
      }
    }
  }

  .hero {
    background: none;

    .hero_container {
    }
  }

  .remont_posudomoek {
    .left_remont_posudomoek {
      height: 50vh;
    }
  }

  .remont_na_domu {
    .left_remont_na_domu {
      padding-top: 0;
    }
    .right_remont_na_domu {
      img {
        margin-left: -50px;
        width: 100%;
      }
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}
</style>
