<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1>
                <span class="big">Ремонт</span>
                <span class="small">кофемашин</span>
              </h1>
              <div class="center-xs">
                <div class="hero_subtext">
                  Мы осуществляем ремонт бытовой техники и электроники на дому
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img src="~assets/img/main_coffe.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard />
      </div>
    </div>

    <repair />

    <section class="master_po_remontu">
      <div class="img_block">
        <img
          class="stiralka_mobi d-block d-md-none"
          src="~assets/img/coffe_true.png"
          alt=""
        />
        <img
          class="d-block d-md-none w-100"
          src="~assets/img/rem_mobi.png"
          alt=""
        />
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 master_po_remontu_container">
            <h2>Ремонт кофейных аппаратов</h2>
            <p>
              В технической реализации кофемашины — сложная техника,
              нуждающаяся в хорошем обслуживании. Кофемашины плотно вошли в нашу
              жизнь, что даже банальная нехватка какого-либо ингридиента
              нарушает традиционный распорядок дня дома или в офисе, не говоря
              уже о внезапной поломке.
            </p>

            <p>
              И тем не менее, чтобы этот агрегат работал долго и не ломался,
              требуется регулярно производить техническое обслуживание
              кофемашины. Наш сервисный центр является специализированным
              предприятием, производящим ремонт с выездом или при
              необходимости в нашей мастерской.
            </p>
             <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
            <img
              class="d-none d-md-block"
              src="~assets/img/coffe_true.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="about_master">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="about_master_wrapper">
              <div class="about_master_block">
                <img src="~assets/icons/class_icon.svg" alt="" />
                <p>
                  Квалификация и опыт практической работы наших специалистов,
                  выполняющих сервис и ремонт кофемашин, позволяют быстро
                  диагностировать и устранять неполадки на всех
                  версиях и моделях существующей техники. А также мы производим
                  плановый сервис кофемашин по согласованному с клиентами
                  графику, срочный ремонт кофеварок, чистку, обслуживание и
                  ремонт кофемашин
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость ремонта <br />
              кофемашины <br />
              за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img src="~assets/img/table_coffe.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Выезд/диагностика</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Чистка от накипи</td>
                <td class="right_col">от 500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт заварочного узла</td>
                <td class="right_col">от 600 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена помпы</td>
                <td class="right_col">от 1,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена жерновов кофемолки</td>
                <td class="right_col">от 1,500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена предохранителя</td>
                <td class="right_col">от 500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена датчика расхода воды</td>
                <td class="right_col">от 500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена трубки в гидросистеме</td>
                <td class="right_col">от 500 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт и восстановление панели управления</td>
                <td class="right_col">10-50% стоимости детали</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta" @click="showModal()">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Numberone from '@/components/Numberone.vue'
import Otzivy from '@/components/Otzivy.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
import Herocard from "@/components/Herocard";

export default {
  head() {
    return {
      title: 'Ремонт кофемашин Казань ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер',
      meta: [
        {
          hid: 'descriptionCofe',
          name: 'description',
          content: 'Ремонт кофемашин в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  components: {Herocard, Numberone, Otzivy, Circlewh, Repair },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Кофе' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>
<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 285px;
        height: 396px;
      }
    }
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    position: relative;
    .stiralka_mobi {
      position: absolute;
      right: -30px;
      top: 150px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 170px;
    padding-bottom: 60px;
    position: relative;
    img {
      top: 300px;
      position: absolute;
      left: calc(100% - 50px);
    }
  }
  button {
    width: 100%;
  }
}

.about_master {
  background: #f7f7f7;
  position: relative;
  .about_master_wrapper {
    margin-top: -38px;
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      content: '';
      top: -20px;
      left: 5%;
      width: 90%;
      height: 100%;
      border-radius: 13px;
      z-index: 8;
      background: #e1e1e1;
    }
    .about_master_block {
      height: 100%;
      background: white;
      padding-top: 39px;
      padding-left: 76px;
      padding-right: 94px;
      padding-bottom: 65px;
      z-index: 9;
      background: #fcfcfc;
      position: relative;

      border-radius: 15px;
      display: flex;
      img {
        margin-bottom: 20px;
        margin-right: 70px;
      }
    }
  }
}

.table_price {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    margin-top: 60px;
    height: 100%;
    img {
      z-index: 9;
      position: absolute;
      right: 0;
    }
  }
  button {
    z-index: 10;
    margin-top: 60px;
  }
}

.why_we_best {
  padding-top: 125px;
  margin-bottom: 70px;
  overflow: hidden;
  position: relative;
  .circles_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('~assets/icons/circles_bg.svg') center center no-repeat;
  }
  .why_we_best_blocks {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    justify-content: space-between;
    .why_we_best_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      .bold {
        margin-top: 25px;
        margin-bottom: 12px;
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */

        color: #000000;
      }
      p {
        max-width: 257px;
      }
      &.to_left {
        margin-right: -60px;
      }
      &.to_right {
        margin-left: -60px;
      }
      .icon {
        img {
          width: 43px;
        }
      }
    }
  }

  button {
    width: 100%;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones

  .hero {
    background: none;

    .hero_container {
    }
  }

  .master_po_remontu {
    background: none;
  }

  .about_master {
    .about_master_block {
      flex-direction: column;
      padding-left: 20px !important;
      padding-right: 20px !important;
      img {
        width: 161px;
      }
    }
  }

  .why_we_best {
    h2 {
      margin-bottom: 86px;
    }
    .to_left {
      margin-right: 0px !important;
    }
    .to_right {
      margin-left: 0px !important;
    }
    .why_we_best_block {
      .bold {
        margin-top: 25px;
        margin-bottom: 12px;
        font-family: 'PtRootUiBold';
        font-size: 22px;
        line-height: 150%;
        text-align: center;

        color: #000000;
      }
      .icon {
        img {
          width: 63px;
        }
      }
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}
</style>
