<template>
  <div class="main">
    <div class="hero">
      <Numberone />
      <div class="hero_container">
        <div class="container-xl">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1>Скупка<br />бытовой<br />техники</h1>

              <div class="hero_subtext">
                Мы осуществляем скупку бытовой <br />
                техники в любом состоянии
              </div>
               <button class="btn-cta" @click="showModal()">ОЦЕНИТЬ ТЕХНИКУ</button>
            </div>
            <div class="col-md-6 d-none d-md-flex justify-content-center main_image">
              <img loading="lazy" src="~assets/img/main_skupka.png" alt="" />
            </div>
          </div>
        </div>

        <div class="hero_card_container">
          <div class="container">
            <h2>Мы занимаемся скупкой</h2>
            <div class="row">
              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/skupka_1.svg" alt="" />
                    <div class="hero_card_text">Ноутбуков</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/skupka_2.svg" alt="" />
                    <div class="hero_card_text">
                      Стиральных <br />
                      машин
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/skupka_3.svg" alt="" />
                    <div class="hero_card_text">Холодильников</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 mb-4">
                <div class="hero_card_wrapper">
                  <div class="hero_card">
                    <img loading="lazy" src="~assets/icons/skupka_4.svg" alt="" />
                    <div class="hero_card_text">Компьютеров</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="why_us">
      <div class="container">
        <div class="row">
          <div class="col-md-3 wh_card">
            <img loading="lazy" src="~assets/icons/skupka_wh_1.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">
                Оценим Вашу технику <br />
                по телефону
              </div>
              <div class="wh_card_text_opis">
                Вы можете позвонить нам, рассказать о Вашей технике и мы
                предложим за нее стоимость
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img loading="lazy" src="~assets/icons/skupka_wh_2.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Хорошие деньги</div>
              <div class="wh_card_text_opis">
                Мы всегда платим сполна за технику, так как для нас не
                составляет труда починить ее
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img loading="lazy" src="~assets/icons/skupka_wh_3.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Оплата сразу</div>
              <div class="wh_card_text_opis">
                Мы всегда оплачиваем товар сразу
              </div>
            </div>
          </div>
          <div class="col-md-3 wh_card">
            <img loading="lazy" src="~assets/icons/skupka_wh_4.svg" alt="" />
            <div class="wh_card_text">
              <div class="wh_card_text_bold">Можете выбрать новое</div>
              <div class="wh_card_text_opis">
                Вы всегда можете найти нового друга по хозяйству у нас
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="master_po_remontu">
      <div class="img_block">
        <img
          loading="lazy"
          class="d-block d-md-none w-100"
          src="~assets/img/rem_mobi.png"
          alt=""
        />
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div
            class="offset-md-4 col-md-6 col-lg-7 master_po_remontu_container"
          >
            <div class="master_po_remontu_header">Без лишних проблем</div>
            <h2>Сдай старую технику и получи наличные на покупку новой</h2>
            <p>
              Скорая служба скупки бытовой техники в Казани. Вам надоел старый хлам на
              Вашем балконе или пришла пора обновить старую технику, которая дышит на ладан,
              а тут соседка недавно сдала свой хлам по утилизации в Эльдорадо и ей сделали
              смешную скидку? В таком случае Вы можете обратиться к нам, мы всегда
              предлагаем хорошую скидку за Вашу технику.
            </p>

            <h3>Кто мы и чем занимаемся?</h3>

            <p>
              Мы осуществляем прием б\у бытовой техники (стиральные машины,
              холодильники, телевизоры, микроволновые печи), из них мы извлекаем
              нужные для ремонта запасные части. Но это еще не все, у нас
              работает целая команда (выкуп, вывоз, утилизация). Мы выкупаем у
              Вас Вашу технику и платим за это хорошие деньги.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="form_select">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="text-center">Выберите технику, которую хотите сдать</h2>
            <div class="row">
              <div class="col-md-6">
                <input class="w-100" type="text" placeholder="Имя" />
              </div>
              <div class="col-md-6">
                <div class="select_container">
                  <select
                    v-model="selected"
                    class="w-100"
                    placeholder="Выберите технику"
                  >
                    <option disabled value="">
                      Выберите один из вариантов
                    </option>
                    <option v-for="opt in technika_types" :key="opt">
                      {{ opt }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <input class="w-100" type="text" placeholder="Телефон" />
              </div>
              <div class="col-md-6">
                <input class="w-100" type="text" placeholder="Марка" />
              </div>
            </div>
            <div class="center">
               <button class="btn-cta" @click="sendSkupkaData()">Отправить</button>
            </div>

            <div class="center">
              <div class="disclamer d-flex align-items-center">
                <img loading="lazy" class="mr-2" src="~assets/icons/small_box.svg" alt="" />
                <p>Мы скупаем даже сломанное</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_us">
      <img
        loading="lazy"
        class="about_us_main_mobi d-md-none"
        src="~assets/img/about_us_mobile.png"
        alt=""
      />
      <div class="about_us_top">
        <div class="about_us_left container">
          <h2>Немного о нас</h2>
          <h3>История</h3>
          <p>
            На протяжении 5 лет мы занимаемся ремонтом крупной и мелкой бытовой
            техники в Казани. В штате более 20 сотрудников, которые всегда
            готовы выехать на вызов. Также у нас всегда имеются новые
            оригинальные запасные части для ремонта. Ждем Вас в нашем сервисном
            центре в Казани по адресу: улица Проспект Победы, д. 35.
          </p>
        </div>
        <img
          loading="lazy"
          class="au_top_img d-none d-md-block"
          src="~assets/img/about_us.png"
          alt=""
        />
      </div>
      <div class="about_us_bottom container">
        <div class="big_card">
          <div class="worker_img center-xs">
            <img
              loading="lazy"
              class="about_us_white_mobi d-md-none"
              src="~assets/img/about_us_white_mobi.png"
              alt=""
            />
            <img
              loading="lazy"
              class="worker_img_img img-fluid"
              src="~assets/img/worker.png"
              alt=""
            />
          </div>
          <div class="about_techno">
            <h3>Задача</h3>
            <p>
              Мы с первого дня работаем с учётом политики "Счастливый клиент -
              постоянный клиент". Поэтому в наших интересах, чтобы Вы остались
              довольны результатом нашей работы. В наше время новая техника
              стоит немалых денег, поэтому мы работаем на сохранение Вашего
              семейного бюджета. Для лиц с ОВЗ и пенсионеров у нас действует
              система скидок. И конечно же мы работаем без выходных.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Numberone from '~/components/Numberone.vue'
import modalkaVue from '~/components/modalka.vue'
export default {
  head() {
    return {
      title: 'Скупка бытовой техники по выгодным ценам ☛ Выезд мастера ☛ Профессиональная оценка ★★★ компания Технолидер в Казани',
      meta: [
        {
          hid: 'descriptionSkupka',
          name: 'description',
          content: 'Скупка бытовой техники по выгодным ценам ☛ Выезд мастера ☛ Профессиональная оценка ★★★ Компания Технолидер в Казани ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).'
        }
      ]
    }
  },

  components: { Numberone },
  data() {
    return {
      technika_types: [
        'Телевизор',
        'Стиральная машина',
        'Холодильник',
        'Газовая плита',
        'Электрическая плита',
        'Ноутбук',
        'Компьютер',
        'Телефон',
        'Игровая приставка',
        'Другое',
      ],

      selected: '',
    }
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Скупка' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
    sendSkupkaData() {
      console.log(this.selected)
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      overflow: hidden;
      img {
        width: 394px;
        height: 589px;
      }
    }

    .hero_card_container {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;

      h2 {
        margin-bottom: 30px;
      }

      .hero_card_wrapper {
        margin-bottom: 70px;
        .hero_card {
          padding-left: 26px;
          padding-right: 30px;
          box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
          background: #fcfcfc;
          position: relative;
          height: 112px;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .hero_card_text {
            font-family: 'PtRootUiBold';
            font-style: normal;
            font-size: 16px;
            line-height: 140%;
            /* or 22px */

            color: #545454;
          }
          img {
          }
        }
      }
    }
  }
}

.why_us {
  background: #f4f4f4;
  height: auto;
  padding-top: 92px;
  .wh_card {
    margin-bottom: 115px;
    position: relative;
    img {
      position: absolute;
    }
    .wh_card_text {
      padding-top: 181px;
      .wh_card_text_bold {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */
        color: #404040;
        margin-bottom: 15px;
      }
    }
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png'), #f4f4f4;
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    background: #f4f4f4;

    position: relative;
    .stiralka_mobi {
      position: absolute;
      right: -150px;
      bottom: -150px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 170px;
    padding-bottom: 60px;
    position: relative;
    img {
      z-index: 10;
      top: 50px;
      position: absolute;
      left: calc(100% - 50px);
    }
    .master_po_remontu_header {
      font-size: 26px;
      line-height: 117%;
      /* identical to box height, or 31px */
      color: #000000;
      margin-bottom: 13px;
    }
  }
  button {
    width: 100%;
  }
}

.we_repair {
  padding-top: 115px;
  padding-bottom: 84px;
  .repair_container {
    .row {
      margin-bottom: 70px;
      .repair_block {
        display: flex;
        position: relative;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        .repair_block_image {
          position: absolute;
        }
        .repair_block_text {
          margin-left: 90px;
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */
          color: #000000;
        }
      }
    }
  }
}

.we_cheapier {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  .back_photo {
    position: absolute;
    width: 800px;
    height: 100%;
    background: url('~assets/img/main_cheapier.png');
  }
  background: #f4f4f4;

  .we_cheapier_left {
    position: relative;
    padding-top: 58px;
    padding-bottom: 49px;
    h2 {
      margin-bottom: 31px;
    }
    h3 {
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 29px;
      max-width: 357px;
    }

    .main_cheap {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 250px;
    }
  }
}
.helper_1 {
  position: relative;
  .wait_for_you {
    position: absolute;
    top: -145px;
    left: 50%;
    width: 453px;
    background: #57c2de;
    border-radius: 10px;
    padding-top: 33px;
    padding-left: 73px;
    padding-right: 46px;
    padding-bottom: 44px;
    .wait_for_you_content {
      .wfy_header {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 28px;
        line-height: 35px;
        /* identical to box height */

        color: #ffffff;
        margin-bottom: 3px;
      }
      .wfy_text {
        font-size: 18px;
        line-height: 160%;
        /* or 29px */

        color: #ffffff;
        margin-bottom: 16px;
      }
      .wfy_map {
        display: flex;
        align-items: center;
        .map_icon {
          margin-right: 10px;
          img {
            height: 25px;
            width: 20px;
          }
        }
        .map_text {
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 160%;
          /* or 29px */

          color: #ffffff;
        }
      }
    }
  }
  .wait_for_you_imgs {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
    }

    .box_helper {
      top: -30px;
      right: 0px;
    }
  }
}

.form_select {
  background: #f4f4f4;
  padding-top: 93px;
  padding-bottom: 50px;
  h2 {
    margin-bottom: 60px;
  }
  input {
    margin-bottom: 22px;
    height: 72px;
    padding: 10%;
    background: #ffffff;
    border-radius: 90px;
    color: #898989;
    border: none;
    outline: none;
  }
  .select_container {
    height: 72px;
    border-radius: 90px;
    margin-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 0px;
    background: #ffffff;
    display: flex;

    select {
      border: none;
      outline: none;
      color: #898989;
      height: 100%;
      width: 100%;
    }
  }
  button {
    margin-top: 20px;
    width: 346px;
    margin-bottom: 53px;
  }
}

.lables {
  padding-top: 43px;
  img {
    width: 100%;
    height: 100%;
  }
}

.about_us {
  background: #57c2de;
  padding-bottom: 82px;
  .about_us_top {
    overflow: hidden;
    position: relative;
    .about_us_left {
      padding-top: 67px;
      padding-bottom: 130px;
      h2 {
        font-size: 60px;
        line-height: 76px;

        color: #ffffff;
      }
      h3 {
        color: white;
        margin-top: 13px;
      }
      p {
        max-width: 350px;
        margin-top: 12px;
        color: #ffffff;
      }
      button {
        margin-top: 18px;
      }
    }

    .au_top_img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  }
  .big_card {
    background: #ffffff;
    border-radius: 10px;
    min-height: 300px;
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-left: 47px;

    .worker_img {
      img {
        height: 500px;
      }
      .worker_img_img {
        width: 100%;
        height: auto;
      }
    }
    .about_techno {
      margin-left: 20px;
      padding-right: 20px;
      p {
        margin-top: 23px;
        max-width: 479px;
      }
    }
  }
}

.on_home_repair {
  padding-top: 73px;
  background: url('~assets/img/home_r_bg.png');
  background-size: cover;
  .on_home_repair_left {
    h2 {
      margin-bottom: 60px;
      color: #000000;
    }

    .on_home_repair_main {
      height: 100%;
      position: relative;
      width: 100%;
      min-height: 640px;
      margin-bottom: 10px;
      img {
        right: 0;
        position: absolute;
      }
    }
  }

  .h_r_f_block {
    margin-bottom: 33px;
    &_img {
    }
    &_description {
    }
    &_bold {
      margin-top: 21px;
      margin-bottom: 12px;
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      color: #000000;
    }
  }
}

.price {
  padding-top: 77px;
  p {
    margin-top: 6px;
    margin-bottom: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */

    text-align: center;

    color: #000000;
  }

  .price_card {
    margin-bottom: 50px;
    position: relative;

    background: #fcfcfc;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    padding-top: 45px;
    padding-left: 48px;
    padding-right: 30px;
    padding-bottom: 40px;
    &_img {
      position: absolute;
    }

    &_name {
      margin-top: 183px;
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-weight: bold;
      font-size: 26.1194px;
      line-height: 33px;
      /* identical to box height */

      color: #000000;
      margin-bottom: 13px;
    }

    .price_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .price_price {
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 12px;
        line-height: 160%;
        /* or 19px */

        letter-spacing: 0.345em;
        text-transform: uppercase;

        color: #000000;

        opacity: 0.4;
      }
      .price_number {
        display: flex;
        align-items: center;
        .p_number {
          font-size: 30px;
          line-height: 160%;
          /* or 48px */
          color: #57c2de;

          margin-right: 4px;
          span {
            font-family: 'PtRootUiBold';
          }
        }
        .valuta {
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 160%;
          /* identical to box height, or 37px */

          color: #57c2de;
        }
      }
    }
    button {
      margin-top: 25px;
      width: 100%;
    }
  }
}

.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 196px;
        height: 52px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-family: 'PtRootUiBold';
        font-size: 21px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.18em;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .hero {
    background: none;

    .hero_container {
      button {
        width: 100%;
      }
      .hero_card_container {
        background: #57c2de;
        padding-top: 71px;
        padding-bottom: 70px;
        h2 {
          font-size: 36px;
          line-height: 46px;
          color: #f4f4f4;
        }
        .hero_card {
          img {
            display: block;
            width: 30%;
          }
          width: 100%;
          height: 166px;
          .hero_card_text {
            font-size: 24px;
            line-height: 140%;

            color: #545454;
          }
        }
      }
    }
  }

  .why_us {
    .wh_card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      .wh_card_text {
        padding-top: 0;
        .wh_card_text_bold {
          display: block;
          font-size: 28px;
          line-height: 150%;
        }
      }

      img {
        width: 20%;
        position: relative;
        display: block;
        margin-right: 30px;
      }
    }
  }

  .master_po_remontu {
    background: none;
  }

  .we_repair {
    .repair_container {
      .row {
        margin-bottom: 0;
        h2 {
          text-align: center;
          margin-bottom: 74px;
        }
        .repair_block {
          margin-bottom: 74px;
          width: 100% !important;
          .repair_block_text {
            margin-left: 100px;
            font-size: 22px;
            line-height: 140%;
          }
        }
      }
    }
  }

  .we_cheapier {
    img {
      margin-left: -50px;
    }
  }

  .helper_1 {
    .wait_for_you {
      z-index: 10;
      left: 10%;
      right: 10%;
      width: auto;
    }
    .wait_for_you_imgs {
      img {
        position: absolute;
      }
      .box_helper {
        top: 30px;
        left: -140px;
        z-index: 11;
      }
      .helper_bz {
        right: -30px;
        top: 20px;
        z-index: 11;
      }
      .helper_notes {
        z-index: 9;
        right: 0px;
        top: -250px;
      }
      .helper_plita {
        z-index: 8;
        left: -50px;
        top: -250px;
      }
      .helper_box2 {
        z-index: 9;
        left: 0px;
        top: -100px;
      }
    }
  }

  .about_us {
    .about_us_main_mobi {
      width: 100%;
      margin-top: -5px;
    }
    .about_us_top {
      img {
        width: 100vw !important;
      }
    }
    .about_us_top {
      margin-top: -160px;
    }

    .about_us_bottom {
      .big_card {
        padding-top: 0;
        padding-left: 0;
        background: none;
        display: flex;
        flex-direction: column;

        .worker_img {
          position: relative;
          .worker_img_img {
            height: auto;
            z-index: 10;
          }
          .about_us_white_mobi {
            z-index: 9;
            position: absolute;
            width: 100vw;
            height: 100vh;
          }
        }
        .about_techno {
          margin: 0;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 119px;
          background: #ffffff;
          border-radius: 10px;
          padding-top: 60px;
        }
      }
    }
  }

  .lables {
    padding-top: 100px;

    .lables_slider {
      overflow-y: scroll;
      white-space: nowrap;
      img {
        width: auto;
        height: 100%;
        display: block;
      }
    }

    .icon_slide {
      width: 100px;
      margin-bottom: 40px;
    }
  }

  .on_home_repair {
    background: none;
    .h_r_f_block_img {
      width: 73px;
    }
    .h_r_f_block_bold {
      font-size: 25px;
      line-height: 150%;
    }

    .on_home_repair_left {
      margin-bottom: 100px;
      .on_home_repair_main_mobi {
        img {
          width: 150vw;
          margin-top: -200px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_us .about_us_top .au_top_img {
    right: -400px;
  }

  .hero .hero_container .hero_card_container .hero_card {
    img {
      width: 3rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about_us .about_us_top .au_top_img {
    right: -500px;
  }
  .hero .hero_container .hero_card_container .hero_card {
    img {
      display: none;
    }
  }
  .helper_1 .wait_for_you {
    left: auto;
    right: 0;
  }
  .helper_1 .wait_for_you_imgs .box_helper {
    right: 260px;
  }
}
</style>
