<template>
  <div class="main">
    <div class="hero">
      <numberone />
      <div class="hero_container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1>
                <span class="big">Ремонт</span>
                <span class="small">И ЗАПРАВКА <br />КОНДИЦИОНЕРОВ</span>
              </h1>
              <div class="center-xs">
                <div class="hero_subtext">
                  Мы осуществляем чистку <br />
                  и заправку кондиционера на дому
                </div>
                 <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-flex">
              <div class="main_image">
                <img loading="lazy" src="~assets/img/main_condey.png" alt="" />
              </div>
              <div class="main_hero_svg">
                <img loading="lazy" src="~assets/icons/main_hero_vector.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <herocard/>
      </div>
    </div>

    <repair />

    <section class="master_po_remontu">
      <div class="img_block">
        <img
          loading="lazy"
          class="stiralka_mobi d-block d-md-none"
          src="~assets/img/condey_true.png"
          alt=""
        />
        <img
          loading="lazy"
          class="d-block d-md-none w-100"
          src="~assets/img/rem_mobi.png"
          alt=""
        />
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 master_po_remontu_container">
            <h2>
              Ремонт кондиционеров <br />
              Казани на дому
            </h2>
            <p>
              Ремонт кондиционеров осуществляется мастером, с выездом на дом. Наши
              профессионалы проводят квалифицированную диагностику, замеры
              давления хладагента, дозаправку и полностью чистят внешний и
              внутренний блок от грузи и пыли. Мы работаем с любыми марками и
              моделями. Готовь сани летом – а кондиционеры круглый год! Только у
              нас Вы будете приятно удивлены ценами! Большой ассортимент
              кондиционеров и сплит-систем круглый год. У нас большой опыт — у
              Вас комфорт.
            </p>

            <img
              loading="lazy"
              class="d-none d-md-block"
              src="~assets/img/condey_true.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="table_price">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="order-2 order-md-1">
              Узнайте стоимость <br />
              ремонта кондиционера <br />
              за 30 секунд
            </h2>
            <div class="order-1 order-md-2 table_price_img">
              <img loading="lazy" src="~assets/img/table_condey.png" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <table>
              <tr>
                <th class="left-header">Услуга</th>
                <th class="right-header">Стоимость</th>
              </tr>
              <tr>
                <td class="left_col">Прочистка фильтров</td>
                <td class="right_col">0 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Прочистка наружного теплообменника</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Заправка фреоном</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт датчиков давления</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт компрессора</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Замена температурного датчика</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
              <tr>
                <td class="left_col">Ремонт вентилятора внутреннего блока</td>
                <td class="right_col">от 1850 руб.</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="center">
           <button class="btn-cta" @click="showModal()">Узнать точную стоимость</button>
        </div>
      </div>
    </section>

    <circlewh />
  </div>
</template>

<script>
import Circlewh from '@/components/Circlewh.vue'
import Herocard from '@/components/Herocard.vue'
import Numberone from '@/components/Numberone.vue'
import Repair from '@/components/Repair.vue'
import modalkaVue from '@/components/modalka.vue'
export default {
  head() {
    return {
      title: 'Заправка кондиционеров ☛ Выезд мастера ☛ Гарантия на ремонт 1 год ★★★ компания Технолидер в Казани\n',
      meta: [
        {
          hid: 'descriptionZapravkaKonditsionerovVKazani',
          name: 'description',
          content: 'Заправка кондиционеров в Казани с бесплатным выездом мастера ☛ Гарантия на все виды работ ☛ Качественные запчасти ★★★ Компания Технолидер ☎ 8 (966) 260-66-44 (Ежедневно с 10:00 до 20:00).\n'
        }
      ]
    }
  },

  components: {Herocard, Numberone, Repair, Circlewh },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Заправка кондиционеров' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.main {
  overflow: hidden;
}
.hero {
  position: relative;
  background: linear-gradient(to left, #57c2de 50%, #ffffff 50%);
  .hero_container {
    padding-top: 40px;
    .hero_subtext {
      font-family: 'PtRootUiBold';
      font-style: normal;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      color: #3c3c3c;
      margin-bottom: 40px;
    }
    .main_image {
      margin-left: 90px;
      img {
        width: 391px;
        height: 359px;
      }
    }
  }

  .number_one {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    .number_one_container {
      position: relative;
      .number_text {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);

        .n_1 {
          font-family: 'PtRootUiBold';
          font-size: 40px;
          line-height: 50px;
          color: #ffffff;
        }
        .n_1_kazan {
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-weight: bold;
          font-size: 9px;
          line-height: 11px;
          /* identical to box height */

          letter-spacing: 0.185em;

          color: #ffffff;
        }
      }
    }
  }
}

.master_po_remontu {
  background: url('~assets/img/rem_s_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .img_block {
    position: relative;
    .stiralka_mobi {
      position: absolute;
      margin-left: 30px;
      bottom: -100px;
      width: 90%;
    }
  }

  .master_po_remontu_container {
    padding-top: 170px;
    padding-bottom: 60px;
    position: relative;
    img {
      z-index: 10;
      top: 500px;
      position: absolute;
      left: calc(100% - 50px);
    }
  }
  button {
    width: 100%;
  }
}

.about_master {
  ul {
    list-style: none; /* Remove default bullets */
    li {
      margin-bottom: 20px;
    }
  }

  ul li::before {
    content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #56beda; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
  }

  background: #f7f7f7;
  position: relative;
  .about_master_wrapper {
    z-index: 100;
    margin-top: -38px;
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      content: '';
      top: -20px;
      left: 5%;
      width: 90%;
      height: 100%;
      border-radius: 13px;
      z-index: 8;
      background: #e1e1e1;
    }
    .about_master_block {
      height: 100%;
      background: white;
      padding-top: 39px;
      padding-left: 76px;
      padding-right: 94px;
      padding-bottom: 65px;
      z-index: 9;
      background: #fcfcfc;
      position: relative;

      border-radius: 15px;
      img {
        margin-bottom: 20px;
        margin-right: 70px;
      }

      .about_master_block_content {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
      }
    }
  }
}

.table_price {
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 54px;
  background: #f7f7f7;
  table {
    padding-bottom: 20px;
    width: 100%;
    background: white;
    border-radius: 8px;
    tr {
      th {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        background: #63ceea;
        font-family: 'PtRootUiBold';
        font-size: 20px;
        line-height: 160%;
        /* or 32px */

        text-align: center;

        color: #ffffff;
      }
      .left-header {
        border-radius: 8px 0px 0px 8px;
      }
      .right-header {
        background: #57c2de;
        border-radius: 0px 8px 8px 0px;
      }
      .left_col {
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
      .right_col {
        background-color: #eeeeee;
        padding-left: 50px;
        padding-top: 22px;
        padding-bottom: 14px;
      }
    }
    .line {
      border: 0.8px solid #cccccc;
    }
  }
  .table_price_img {
    margin-top: 60px;
    height: 100%;
    img {
      z-index: 9;
      position: absolute;
      right: 0;
    }
  }
  button {
    z-index: 10;
    margin-top: 60px;
  }
}

.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 196px;
        height: 52px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-family: 'PtRootUiBold';
        font-size: 21px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.18em;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}

footer {
  background: linear-gradient(to left, #57c2de 50%, #f4f4f4 50%);
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  //Smartphones

  .hero {
    background: none;
    .number_one {
      right: 0;
      top: 70px;
      transform: none;
    }

    .hero_container {
    }
  }

  .master_po_remontu {
    background: none;
  }

  .about_master {
    .about_master_block {
      flex-direction: column;
      padding-left: 20px !important;
      padding-right: 20px !important;
      img {
        width: 161px;
      }
      .about_master_block_content {
        flex-direction: column;
        img {
          width: 100px;
        }
      }
    }
  }

  .table_price {
    table {
      tr {
        .left-header {
          border-radius: 8px 0px 0px 8px;
        }
        .left_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
        .right_col {
          padding-left: 50px;
          padding-top: 22px;
          padding-bottom: 14px;
        }
      }
      .line {
        border: 0.8px solid #cccccc;
      }
    }
    .table_price_img {
      margin-bottom: 60px;
      height: 50vh;
      img {
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    button {
      margin-top: 60px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hero .hero_container .hero_card_container .hero_card {
    img {
      width: 3rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hero .hero_container .hero_card_container .hero_card {
    img {
      display: none;
    }
  }
}
</style>
