<template>
<div class="d-flex">
  <img loading="lazy" class="address__img" src="" alt="">
  <div>
    <div>г. Казань, ул. Проспект Победы, д. 35</div>
    <div>c 10:00 до 20:00 без выходных</div>
  </div>
</div>
</template>

<script>
export default {
  name: "AppAddress"
}
</script>

<style scoped lang="scss">
.address__img {
  flex-basis: 0;
  flex-shrink: 0;
}
</style>
