<template>
  <div class="social_icons">
    <a
      href="https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!"
    >
      <img loading="lazy" src="../assets/icons/wt.svg" class="social_icon" alt=""/>
    </a>
    <a
      href="https://vk.com/tehnolider_kzn"
    >
      <img loading="lazy" src="../assets/icons/vk.svg" class="social_icon" alt=""/>
    </a>
    <a
      href="https://www.instagram.com/tehnolider.kzn/"
    >
      <img loading="lazy" src="../assets/icons/ig.svg" class="social_icon" alt=""/>
    </a>
  </div>
</template>

<script>
export default {
  name: "AppSocialMedia"
}
</script>

<style scoped>

</style>
