<template>
  <section class="why_we_best">
    <div class="circles_bg d-none d-lg-block"></div>

    <div class="container">
      <div class="center">
        <h2 class="text-center">Почему с нами выгодней</h2>
      </div>
      <div class="row">
        <div class="col-md-4 order-1 order-md-1 why_we_best_blocks">
          <div class="why_we_best_block to_left">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-1.svg" alt="" />
            </div>
            <div class="bold text-center">Качественные запчасти</div>
            <p class="text-center">
              Мы никогда не работаем с сомнительными поставщиками запчастей.
            </p>
          </div>
          <div class="why_we_best_block">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-2.svg" alt="" />
            </div>
            <div class="bold text-center">Самые опытные мастера у нас</div>
            <p class="text-center">
              Мы занимаемся ремонтом бытовой техники уже несколько лет. Любим и
              понимаем свое дело.
            </p>
          </div>
          <div class="why_we_best_block to_left">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-3.svg" alt="" />
            </div>
            <div class="bold text-center">В течении трёх часов</div>
            <p class="text-center">
              Вызвав мастера, в течении трех часов вы получите Вашу технику в
              рабочем состоянии.
            </p>
          </div>
        </div>
        <div class="col-md-4 order-3 order-md-2 remontnik_container">
          <div class="center">
            <img
              loading="lazy"
              class="remontnik"
              src="~assets/img/remontnik_vigoda.png"
              alt=""
            />
          </div>
          <div class="center">
             <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
          </div>
        </div>
        <div class="col-md-4 order-2 order-md-3 why_we_best_blocks">
          <div class="why_we_best_block to_right">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-4.svg" alt="" />
            </div>
            <div class="bold text-center">
              Бесплатный выезд мастера <br />
              (при ремонте)
            </div>
            <p class="text-center">
              Вызвав мастера, не беспокойтесь, что Вам придется платить за сам
              вызов. Вы платите только за ремонт и запчасти.
            </p>
          </div>
          <div class="why_we_best_block">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-5.svg" alt="" />
            </div>
            <div class="bold text-center">Гарантия на все виды работ</div>
            <p class="text-center">
              Заказывая наши услуги, Вы получаете гарантию до 1 года на все виды
              работ.
            </p>
          </div>
          <div class="why_we_best_block to_right">
            <div class="icon">
              <img loading="lazy" src="~assets/icons/c-6.svg" alt="" />
            </div>
            <div class="bold text-center">Починить дешевле!</div>
            <p class="text-center">
              Мы поможем Вам сэкономить на покупке новой бытовой техники.
              Вдохнём жизнь в Вашу технику, и она послужит Вам еще много лет.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import modalkaVue from '~/components/modalka.vue'
export default {
  setup() {
    return {}
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Почему мы лучшие' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.why_we_best {
  padding-top: 125px;
  margin-bottom: 70px;
  overflow: hidden;
  position: relative;
  .circles_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('~assets/icons/circles_bg.svg') center center no-repeat;
  }
  .row {
    height: 100%;
  }
  h2 {
    margin-bottom: 15px;
  }
  .why_we_best_blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    .why_we_best_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      .bold {
        margin-top: 25px;
        margin-bottom: 12px;
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */

        color: #000000;
      }
      p {
        max-width: 257px;
      }
      &.to_left {
        margin-right: -60px;
      }
      &.to_right {
        margin-left: -60px;
      }
      .icon {
        img {
          width: 43px;
        }
      }
    }
  }

  button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .why_we_best {
    h2 {
      margin-bottom: 86px;
    }
    .to_left {
      margin-right: 0px !important;
    }
    .to_right {
      margin-left: 0px !important;
    }
    .why_we_best_block {
      .bold {
        margin-top: 25px;
        margin-bottom: 12px;
        font-family: 'PtRootUiBold';
        font-size: 22px;
        line-height: 150%;
        text-align: center;

        color: #000000;
      }
      .icon {
        img {
          width: 63px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .why_we_best {
    .remontnik_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .remontnik {
        width: 150%;
      }
    }
  }
}
</style>
