<template>
  <div class="hero_card_container">
    <div class="container">
      <div class="row">
        <div class="hero_card_wrapper">
          <div class="hero_card">
            <img loading="lazy" src="~assets/icons/hero_card_garant.svg" alt="" />
            <div class="hero_card_text">Гарантия 1 год <br />на работу</div>
          </div>
        </div>

        <div class="hero_card_wrapper">
          <div class="hero_card">
            <img loading="lazy" src="~assets/icons/hero_card_diagnostik.svg" alt="" />
            <div class="hero_card_text">
              Диагностика <br />
              техники
            </div>
          </div>
        </div>

        <div class="hero_card_wrapper">
          <div class="hero_card">
            <img loading="lazy" src="~assets/icons/hero_card_master.svg" alt="" />
            <div class="hero_card_text">
              Возможен <br />
              выезд мастера
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.hero_card_container {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: row;

  .hero_card_wrapper {
    margin-right: 30px;
    position: relative;
    margin-bottom: 70px;
    .hero_card {
      box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
      background: #fcfcfc;
      position: relative;
      height: 112px;
      width: 255px;
      border-radius: 15px;

      .hero_card_text {
        top: 36px;
        position: absolute;
        right: 18px;
        font-family: 'PtRootUiBold';
        font-style: normal;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */

        color: #545454;
      }
      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero_card_container {
    align-items: center;
    flex-direction: column;
    background: #57c2de;
    padding-top: 71px;
    padding-bottom: 70px;
    .row {
      justify-content: center;
    }
    .hero_card_wrapper {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
}
</style>
