<template>
  <div class="logo">
    <div class="logo_img">
      <img loading="lazy" src="~assets/icons/logo.svg" alt="" />
    </div>
    <div class="logo_text">
      <img loading="lazy" src="~assets/icons/logo-text.svg" alt="" />
    </div>
  </div>
</template>

<style lang="scss">
.logo {
  display: flex;
  align-items: center;
  .logo_img {
    img {
      width: 51px;
      height: 57px;
    }
  }
  .logo_text {
    margin-left: 12px;
    img {
      width: 124px;
      height: 28px;
    }
  }
}
</style>
