<template>
  <ul
    :class="{'nav_mobile' : mobile}"
    class="nav"
  >
    <li
      v-for="link in links"
      :key="link.name"
    >
      <template v-if="!link.submenu">
        <b-button variant="link" no-caret>
          <nuxt-link :to="link.url">{{ link.name }}</nuxt-link>
        </b-button>
      </template>

      <template v-if="link.submenu">

        <template v-if="!mobile">
          <b-dropdown
            variant="link"
            toggle-class="text-decoration-none"
          >
            <template #button-content>
              <a>{{ link.name }}</a>
            </template>

            <b-dropdown-item
              v-for="submenulink in link.submenu"
              :key="submenulink.name"
            >
              <nuxt-link :to="submenulink.url">
                <div class="btn btn-link">{{ submenulink.name }}</div>
              </nuxt-link>
            </b-dropdown-item>
          </b-dropdown>
        </template>

        <template v-if="mobile">
          <button
            v-b-toggle.collapse-1
            class="btn btn-link"
          >
            {{ link.name }}
            <img loading="lazy" class="ml-4" src="~assets/icons/r_arrow.svg" alt="" />
          </button>

          <b-collapse id="collapse-1" class="mt-2">
            <span
              v-for="submenulink in link.submenu"
              :key="submenulink.name"
              @click="$emit('close')"
            >
              <nuxt-link :to="submenulink.url">
                {{ submenulink.name }}
              </nuxt-link>
            </span>
          </b-collapse>
        </template>

      </template>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Nav',

  props: {
    mobile: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      links: [
        { name: 'Скупка', url: '/skupka' },
        { name: 'Каталог', url: '/product-category/prodazha-tehniki/' },
        {
          name: 'Ремонт',
          submenu: [
            { name: 'Ремонт стиральных машин', url: '/remont-stiralnyh-mashin' },
            { name: 'Ремонт телевизоров', url: '/remont-televizorov' },
            { name: 'Ремонт холодильников', url: '/remont-holodilnikov' },
            { name: 'Ремонт посудомоечных машин', url: '/whasher' },
            { name: 'Ремонт кофемашин', url: '/cofe' },
            { name: 'Ремонт, заправка кондиционеров', url: '/zapravka-konditsionerov-v-kazani', },
            { name: 'Установка кондиционеров', url: '/ustanovka-kondiczionerov' },
            { name: 'Ремонт газовых плит, электроплит', url: '/plit' },
            { name: 'Ремонт ноутбуков', url: '/remont-noutbukov-kazan' },
            { name: 'Ремонт пылесосов', url: '/remont-pylesosov' }
          ]
        },
        { name: 'О нас', url: '/o-nas' },
        { name: 'Контакты', url: '/contacts' },
      ],

    }
  },
}
</script>

<style scoped lang='scss'>
.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  a, .btn-link {
    font-family: 'PtRootUiLight';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    letter-spacing: 0;
  }

  &.nav_mobile {
    flex-direction: column;
  }
}

</style>
