<template>
  <div>
    <section class="map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad8d8b06207d221d41988e3075d2734369040d45f341cfb991d6822180200a06f&amp;source=constructor"
        width="100%"
        height="720"
        frameborder="0"
        class="map_iframe"
      ></iframe>
      <div class="map_content">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-md-5 pt-4 pb-4 align-content-stretch h-100">
              <div class="map_card">
                <h2>Наши контакты</h2>
                <h3>Адрес:</h3>
                <p>г. Казань, ул. Проспект победы, д. 35</p>
                <div class="dashed_line mt-1 mb-1"></div>
                <h3>Телефон:</h3>
                <a href="tel:+78432606644">
                  <h3>+7 (843) 260-66-44</h3>
                </a>
                <div class="dashed_line mt-1 mb-1"></div>
                <h3>Соц.сети:</h3>
                <div
                  class="
                    social_img_container
                    d-flex
                    justify-content-center
                    mb-3
                  "
                >
                  <div class="social_img d-flex justify-content-between">
                    <a
                      href="https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!"
                    >
                      <img loading="lazy" src="~assets/img/wt_bl.png" alt="" />
                    </a>
                    <a href="https://vk.com/tehnolider_kzn">
                      <img loading="lazy" src="~assets/img/vk_bl.png" alt="" />
                    </a>

                    <a href="https://www.instagram.com/tehnolider.kzn/">
                      <img loading="lazy" src="~assets/img/ig_bl.png" alt="" />
                    </a>
                  </div>
                </div>

                <p>
                  Мы всегда стараемся выполнять свою работу лучше, чем от нас
                  ожидают и оставить наилучшее впечатление для того, чтобы Вы
                  стали нашим постоянным клиентом. Ждем Вас в нашем сервисном
                  центре!
                </p>
                 <button class="btn-cta mt-2" @click="showModal()">
                  Вызвать мастера
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import modalkaVue from '~/components/modalka.vue'
export default {
  setup() {
    return {}
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Главная' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.map {
  position: relative;
  z-index: 1;
  .map_iframe {
    position: relative;
    z-index: 10;
  }
  &_content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .map_card {
      padding-top: 33px;
      padding-bottom: 35px;
      padding-left: 76px;
      padding-right: 76px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 20;
      height: 100% !important;
      width: 100%;
      background: #fcfcfc;
      box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
      border-radius: 15px;
      .dashed_line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #b7b7b7;
      }
      h2 {
        color: black;
      }
      .social_img {
        width: 140px;
      }
    }
  }
}

@media (max-width: 768px) {
  .map {
    .map_iframe {
      height: 60vh;
    }
    .map_content {
      margin-top: -100px;
      position: relative;
      .map_card {
        padding: 2rem;
      }
    }
  }
}
</style>
