<template>
  <div class="market_card">
    <img
      loading="lazy"
      class="market_card_img"
      :src="'https://591517-cy89876.tmweb.ru' + img"
      alt=""
    />
    <div class="market_card_category">
      {{ cat }}
    </div>
    <div class="market_card_name">
      {{ name }}
    </div>
    <div class="market_card_price">{{ price }} ₽</div>

     <button class="btn-cta w-100">Подробнее</button>
  </div>
</template>

<script>
export default {
  props: {
    cat: String,
    name: String,
    img: String,
    price: String,
  },
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.market_card {
  background: #ffffff;
  box-shadow: 0px 0px 84px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 21px;
  padding-left: 23px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  &_category {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    color: #000000;
    margin-bottom: 12px;
  }
  &_name {
    font-family: 'PtRootUiBold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #000000;
  }
  &_price {
    font-size: 25px;
    line-height: 150%;
    /* identical to box height, or 60px */
    color: #000000;
  }
  button {
    margin-top: 12px;
    margin-bottom: 16px;
    width: 100%;
  }
}
</style>
