<template>
  <header class="header">
    <div class="container menu_container">
      <div class="left-menu">
        <nuxt-link to="/"> <Logo /></nuxt-link>

        <div class="map_img">
          <img loading="lazy" src="~assets/img/map.png" alt="" />
        </div>
        <div class="location">
          <div class="location_up">г. Казань, ул. Проспект победы, д.35</div>
          <div class="location_down">
            <div class="green_dot">
              <img loading="lazy" src="~assets/icons/green_dot.svg" alt="" />
            </div>
            <div class="location_down_text">с 10:00 до 20:00 без выходных</div>
          </div>
        </div>
      </div>
      <div class="right-menu">
        <div class="first_row">
          <div class="menu_phone">
            <a href="tel:89662606644">8 (966) 260-66-44</a>
          </div>
          <div class="social_icons">
            <a
              href="https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!"
            >
              <img loading="lazy" src="~assets/icons/wt.svg" class="social_icon" alt=""
            /></a>
            <a href="https://vk.com/tehnolider_kzn"
              ><img loading="lazy" src="~assets/icons/vk.svg" class="social_icon" alt=""
            /></a>
            <a href="https://www.instagram.com/tehnolider.kzn/">
              <img loading="lazy" src="~assets/icons/ig.svg" class="social_icon" alt=""
            /></a>
          </div>
           <button class="btn-cta" @click="showModal()">ВЫЗВАТЬ МАСТЕРА</button>
        </div>
        <div class="second_row">
          <nav class="menu">
            <ul class="menu_ul">
              <li>
                <b-button size="lg" variant="link" no-caret>
                  <nuxt-link to="/skupka">Скупка</nuxt-link>
                </b-button>
              </li>
              <li>
                <b-button size="lg" variant="link" no-caret>
                  <nuxt-link to="/product-category/prodazha-tehniki/"
                    >Каталог</nuxt-link
                  >
                </b-button>
              </li>
              <li>
                <b-dropdown
                  size="md"
                  variant="link"
                  toggle-class="text-decoration-none"
                >
                  <template #button-content>
                    <a>Ремонт</a>
                  </template>
                  <b-dropdown-item v-for="item in remont" :key="item.name">
                    <nuxt-link :to="item.url">
                      <div class="drop_item">{{ item.name }}</div>
                    </nuxt-link>
                  </b-dropdown-item>
                </b-dropdown>
              </li>
              <li>
                <b-button size="lg" variant="link" no-caret>
                  <nuxt-link to="/o-nas">О нас</nuxt-link>
                </b-button>
              </li>

              <li>
                <b-button size="lg" variant="link" no-caret>
                  <nuxt-link to="/contacts">Контакты</nuxt-link>
                </b-button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="container mobile_menu">
      <nuxt-link to="/">
        <Logo />
      </nuxt-link>

      <img loading="lazy" @click="openMobileMenu()" src="~assets/icons/menu_icon.svg" alt="" />
    </div>
  </header>
</template>

<script>
import modalkaVue from '~/components/modalka.vue'
import modalmenuVue from './modalmenu.vue'
export default {
  data() {
    return {
      remont: [
        { name: 'Ремонт стиральных машин', url: '/remont-stiralnyh-mashin' },
        { name: 'Ремонт телевизоров', url: '/remont-televizorov' },
        { name: 'Ремонт холодильников', url: '/remont-holodilnikov' },
        { name: 'Ремонт посудомоечных машин', url: '/whasher' },
        { name: 'Ремонт кофемашин', url: '/cofe' },
        { name: 'Ремонт, заправка кондиционеров', url: '/zapravka-konditsionerov-v-kazani', },
        { name: 'Установка кондиционеров', url: '/ustanovka-kondiczionerov' },
        { name: 'Ремонт газовых плит, электроплит', url: '/plit' },
        { name: 'Ремонт ноутбуков', url: '/remont-noutbukov-kazan' },
        { name: 'Ремонт пылесосов', url: '/remont-pylesosov' },
      ],
    }
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Меню' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
    openMobileMenu() {
      this.$modal.show(
        modalmenuVue,
        { param: 'Мобильное меню' },
        {
          adaptive: true,
          class: 'modalka_menu',
          width: '100%',
          height: 'auto',
          scrollable: 'true',
        }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.btn-link {
  color: white !important;
}
.left-menu {
  width: 50%;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .map_img {
    img {
      width: 32px;
      height: 33px;
    }
  }

  .location {
    .location_up {
      font-family: 'MuseoSans300';
      font-size: 13px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      color: #000000;
    }
    .location_down {
      display: flex;
      .green_dot {
        margin-right: 5px;
        img {
          width: 6px;
          height: 6px;
        }
        .location_down_text {
          font-family: 'MuseoSans300';
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          color: #000000;
        }
      }
    }
  }
}

.right-menu {
  margin-top: 14px;
  padding-left: 25px;
  width: 50%;
  align-items: center;
  .first_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu_phone {
      font-family: 'MuseoSans300';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
    .social_icons {
      .social_icon {
        height: 17px;
        margin-right: 23px;
      }
    }
  }

  .second_row {
    .menu {
      .menu_ul {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;
        a {
          font-family: 'PtRootUiLight';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: white;
          letter-spacing: 0px;
        }

        .drop_item {
          color: #000;
        }
      }
    }
  }
}

.menu_container {
  display: flex;
  width: 100vw;
}

.mobile_menu {
  display: none;
}

.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  letter-spacing: 0px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .map_img {
    display: none;
  }
  .social_icons {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu_container {
    display: none;
  }

  .mobile_menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile_menu_phone {
      font-family: 'MuseoSans300';

      font-size: 19px;
      line-height: 23px;
      /* identical to box height */

      color: #555555;
    }
  }
}

@media (max-width: 768px) {
  .mobile_menu {
    padding-left: 15px;
    padding-right: 15px;
  }
}
</style>
