<template>
  <div>
    <a href="#" class="close" @click="$emit('close')"></a>
    <div class="container d-flex flex-column justify-content-between">
      <nuxt-link to="/">
        <div class="logo" @click="$emit('close')">
          <img loading="lazy" src="~assets/icons/w_logo.svg" alt="" />
          <img loading="lazy" src="~assets/icons/tehno-text.svg" alt="" />
        </div>
      </nuxt-link>

      <div class="menu_items">
        <div class="menu_item" @click="$emit('close')">
          <nuxt-link to="/skupka">Скупка</nuxt-link>
        </div>
        <div class="menu_item" @click="$emit('close')">
          <nuxt-link to="/product-category/prodazha-tehniki/"
            >Каталог</nuxt-link
          >
        </div>
        <div class="menu_item">
          <div v-b-toggle.collapse-1>Ремонт</div>
          <img loading="lazy" class="ml-4 r_arrow" src="~assets/icons/r_arrow.svg" alt="" />
        </div>
        <div class="collapse_container">
          <b-collapse id="collapse-1" class="mt-2">
            <div
              class="menu_item"
              v-for="item in remont"
              :key="item.name"
              @click="$emit('close')"
            >
              <nuxt-link :to="item.url">
                <div class="drop_item">{{ item.name }}</div>
              </nuxt-link>
            </div>
          </b-collapse>
        </div>

        <div class="menu_item" @click="$emit('close')">
          <nuxt-link to="/o-nas"> О нас </nuxt-link>
        </div>
        <div class="menu_item" @click="$emit('close')">
          <nuxt-link to="/contacts"> Контакты </nuxt-link>
        </div>
        <div class="menu_item icons">
          <a
            href="https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!"
            ><img loading="lazy" src="~assets/icons/wt.svg" alt=""
          /></a>

          <a href="https://vk.com/tehnolider_kzn">
            <img loading="lazy" src="~assets/icons/vk.svg" alt=""
          /></a>
          <a href="https://www.instagram.com/tehnolider.kzn/">
            <img loading="lazy" src="~assets/icons/ig.svg" alt=""
          /></a>
        </div>
      </div>
      <div class="mapbox">
        <div class="map_img">
          <img loading="lazy" src="~assets/img/w_map.png" alt="" />
        </div>
        <div class="location">
          <div class="location_up">г. Казань, ул. Проспект победы, д.35</div>
          <div class="location_down">
            <div class="green_dot">
              <img loading="lazy" src="~assets/icons/green_dot.svg" alt="" />
            </div>
            <div class="location_down_text">с 10:00 до 20:00 без выходных</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      remont: [
        { name: 'Ремонт стиральных машин', url: '/remont-stiralnyh-mashin' },
        { name: 'Ремонт телевизоров', url: '/remont-televizorov' },
        { name: 'Ремонт холодильников', url: '/remont-holodilnikov' },
        { name: 'Ремонт посудомоечных машин', url: '/whasher' },
        { name: 'Ремонт кофемашин', url: '/cofe' },
        {
          name: 'Ремонт, заправка кондиционеров',
          url: '/zapravka-konditsionerov-v-kazani',
        },
        { name: 'Установка кондиционеров', url: '/ustanovka-kondiczionerov' },
        { name: 'Ремонт газовых плит, электроплит', url: '/plit' },
        { name: 'Ремонт ноутбуков', url: '/remont-noutbukov-kazan' },
        { name: 'Ремонт пылесосов', url: '/remont-pylesosov' },
      ],
    }
  },
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.container {
  height: 100vh;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.logo {
  margin-top: 20px;
  display: flex;
  img {
    margin-right: 20px;
  }
}

.menu_items {
  margin-top: 20px;
  .menu_item {
    display: flex;
    align-items: center;
    font-size: 23px;
    line-height: 1;
    /* identical to box height */
    color: #ffffff;
    margin-bottom: 40px;
    &.icons {
      display: flex;
      img {
        width: 30px;
        margin-right: 30px;
      }
    }
    .r_arrow {
      height: 15px;
    }
  }
  .collapse_container {
    padding-left: 20px;
    max-height: 300px;
    overflow: scroll;
  }
}

.mapbox {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  .map_img {
    img {
      height: auto;
      width: 40px;
    }
  }

  .location {
    .location_up {
      font-family: 'MuseoSans300';
      font-size: 15px;
      line-height: 23px;
      color: white;
    }
    .location_down {
      display: flex;
      align-items: center;
      .green_dot {
        margin-right: 5px;
        img {
          width: 10px;
          height: 10px;
        }
      }
      .location_down_text {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: #ffffff;
      }
    }
  }
}
</style>
