<template>
  <div>
    <b-alert
      class="alert"
      dismissible
      variant="success"
      :show="showSuccessAlert"
      @dismissed="showSuccessAlert = false"
    >
      <h4 class="alert-heading mt-4">Ваш заказ принят!</h4>
      <p>Вскоре мы перезвоним Вам и подтвердим заказ.</p>
      <hr />
    </b-alert>

    <a href="#" class="close" @click="$emit('close')"></a>
    <div
      class="container modal_content d-flex justify-content-center flex-column"
    >
      <h2>Заказать звонок</h2>
      <p>Мы сразу же перезвоним Вам</p>
      <div class="form_container">

        <input
          v-model="name"
          name="name"
          placeholder="Ваше имя"
          type="text"
        />
        <p v-if="errors.name" class="red">Укажите имя</p>
        <input
          v-model="phone"
          name="phone"
          placeholder="Ваш номер"
          type="text"
        />
        <p v-if="errors.phone" class="red">
          Укажите правильный номер телефона
        </p>

        <button @click="checkForm" class="btn-cta">Отправит</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['param'],

  data() {
    return {
      name: null,
      phone: null,
      errors: {
        name: null,
        phone: null,
      },
      showSuccessAlert: false,
      activeButton: 'Доставка',
    }
  },

  setup() {
    return {}
  },

  methods: {
    setActiveButton(id) {
      this.activeButton = id
    },
    checkForm() {
      if (!this.name) {
        this.errors.name = true
      } else {
        this.errors.name = false
      }

      if (!this.phone) {
        this.errors.phone = true
      } else {
        this.errors.phone = false
      }

      if (this.name && this.phone) {
        this.showSuccessAlert = true;
        this.sendToTelegram()
      }
    },

    closeAlert() {
      this.showSuccessAlert = false
    },

    async sendToTelegram() {
      try {
        ym(84700201,'reachGoal','event_submit_callback');

        const token = '1892586501:AAFkLOd1mbFwNGJEYNh9BJtZnig4snC7PIw'
        // Сюда вставляем chat_id
        const chatId = '-418130484'

        // Определяем переменные для передачи данных из нашей формы
        // Собираем в массив то, что будет передаваться боту
        const txt = `Технолидер, заказ обратного звонка. Страница: ${this.param} Имя: ${this.name} Телефон: ${this.phone}`
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${chatId}&parse_mode=html&text=${txt}`
        )
        this.name = null
        this.phone = null
        this.address = null
        this.sucallert = true
      } catch (error) {
        // eslint-disable-next-line no-console
        console.error(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.modal_content {
  margin-top: 68px;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    color: white;
  }
  p {
    text-align: center;
    color: white;
  }

  .form_container {
    width: 370px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    input {
      width: 100%;
      margin-bottom: 25px;
      height: 72px;
      padding: 5%;
      background: #ffffff;
      border-radius: 90px;
      color: #898989;
      border: none;
      outline: none;
    }
    button {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .modal_content {
    .form_container {
      width: 100%;
    }
  }
}
</style>
