<template>
  <div class="number_one_wrapper">
    <div class="number_one">
      <img loading="lazy" class="number_back" src="~assets/icons/back_1.svg" alt="" />
      <div class="number_one_container">
        <div class="number_text">
          <div class="n_1">№1</div>
          <div class="n_1_kazan">В КАЗАНИ</div>
        </div>
        <img loading="lazy" src="~assets/icons/rect_naklon.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.number_one_wrapper {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;

  .number_one {
    .number_back {
      position: absolute;
      top: 7px;
      left: 5px;
      width: calc(100% - 10px);
      height: 110%;
      z-index: 7;
    }
    .number_one_container {
      z-index: 9;
      position: relative;
      .number_text {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);

        .n_1 {
          font-family: 'PtRootUiBold';
          font-size: 40px;
          line-height: 50px;
          color: #ffffff;
        }
        .n_1_kazan {
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-weight: bold;
          font-size: 9px;
          line-height: 11px;
          /* identical to box height */

          letter-spacing: 0.185em;

          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .number_one_wrapper {
    display: none;
    top: 89px;
    right: 15px;
    bottom: auto;
    transform: none;
  }
}
</style>
