<template>
  <section class="otzivy">
    <h2 class="text-center">Наши отзывы</h2>
    <p class="text-center">Спасибо всем, кто соглашается оставить отзыв!</p>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="otziv_card">
            <img loading="lazy" class="otziv_card_img" src="~assets/img/ot_1.png" alt="" />
            <div class="otziv_card_text">
              <div class="otziv_card_name">ОКСАНА:</div>
              Оперативно приехал, быстро и качественно произвёл ремонт. Лишнего
              не взял. Я довольна! Спасибо!
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="otziv_card">
            <img loading="lazy" class="otziv_card_img" src="~assets/img/ot_2.png" alt="" />
            <div class="otziv_card_text">
              <div class="otziv_card_name">РЕГИНА:</div>
              Приятный молодой человек, оперативно устранил неполадку в
              стиральной машине. Поставил качественную запчасть и
              прокомментировал из-за чего машинка сломалась. Недорого. Всем
              советую!
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="otziv_card">
            <img loading="lazy" class="otziv_card_img" src="~assets/img/ot_3.png" alt="" />

            <div class="otziv_card_text">
              <div class="otziv_card_name">ИЛЬШАТ:</div>
              Хороший мастер, знает свое дело. Я думал, что остался без
              стиральной машины, ей уже лет 8-10. Алмаз приехал и все
              сделал качественно и недорого. Все работает, как новая!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
       <button class="btn-cta">Вызвать мастера</button>
    </div>
  </section>
</template>

<script>
export default {
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.otzivy {
  padding-top: 100px;
  p {
    margin-bottom: 40px;
  }
  .otziv_card {
    margin-bottom: 45px;
    border-radius: 10px;
    position: relative;
    .otziv_card_img {
      z-index: -10;
      width: 100%;
    }
    .otziv_card_text {
      position: relative;
      .otziv_card_name {
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: -36px;
        width: 196px;
        height: 52px;
        padding-top: 12px;
        padding-left: 22px;
        background: #ffffff;
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        font-family: 'PtRootUiBold';
        font-size: 21px;
        line-height: 27px;
        /* identical to box height */

        letter-spacing: 0.18em;

        color: #57c2de;
      }
      z-index: 1;
      margin-top: -10px;
      background: #57c2de;
      border-radius: 10px;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      color: #ffffff;
    }
  }

  button {
    margin-top: 73px;
    margin-bottom: 72px;
  }
}
</style>
