<template>
  <SfMegaMenu
    :visible="visible"
    :title="getTranslatedProperty(category, 'name')"
    class="sw-mega-menu"
    data-cy="mega-menu"
  >
    <div class="sw-mega-menu__content">
      <div
        class="sw-mega-menu__content-section"
        data-cy="mega-menu-category"
      >
        <SfList>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-holodilnikov"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт холодильников"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-coffee-machine"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт кофейных аппаратов"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-noutbukov-kazan"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт ноутбуков"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-plit"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт плит"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-pylesosov"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт пылесосов"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-stiralnyh-mashin"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт стиральных машин"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-televizorov"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт телевизоров"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/ustanovka-kondiczionerov"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Установка кондиционеров"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/remont-whasher"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Ремонт посудомоечных машин"
              />
            </nuxt-link>
          </SfListItem>
          <SfListItem>
            <nuxt-link
              class="sf-header__link"
              to="/zapravka-konditsionerov-v-kazani"
            >
              <SfMenuItem
                class="sw-menu-item"
                label="Заправка кондиционеров в Казани"
              />
            </nuxt-link>
          </SfListItem>
        </SfList>
      </div>
    </div>
  </SfMegaMenu>
</template>

<script>
import { SfMegaMenu, SfMenuItem, SfList, SfHeading } from "@storefront-ui/vue"
import { getCategoryUrl, getTranslatedProperty } from "@shopware-pwa/helpers"

export default {
  name: "SwMegaMenu",
  components: { SfMegaMenu, SfMenuItem, SfList, SfHeading },
  props: {
    category: {
      type: Object,
      default: () => ({}),
    },
    visible: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { root }) {
    return { getCategoryUrl, getTranslatedProperty }
  },
}
</script>

<style lang="scss" scoped>
.sw-mega-menu {
  background: var(--c-white);
  left: 0;
  position: absolute;
  top: 100%;

  .sf-header__link:hover {
    --heading-title-color: var(--_c-green-primary);
    text-decoration: underline;
  }

  .sw-menu-item:hover {
    --menu-item-label-color: var(--_c-green-primary);
    text-decoration: underline;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;

    &-section {
      align-items: flex-start;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      width: 170px;

      .sf-list {
        margin-top: 15px;

        &__item {
          & + .sf-list__item {
            margin-top: 10px;
          }
        }
      }

      ::v-deep .sf-heading {
        text-align: left;
      }

      .sf-header__link {
        text-align: left;
      }
    }

    .sf-heading {
      padding: 0;
    }
  }
}
</style>
