<template>
  <section class="we_repair">
    <div class="container repair_container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2>Что хотите, чтобы мы починили?</h2>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/remont-stiralnyh-mashin">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_stiralka.svg"
                alt=""
              />
              <div class="repair_block_text">Стиральные<br />машины</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/ustanovka-kondiczionerov">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image condey"
                src="~assets/icons/r_condey.svg"
                alt=""
              />
              <div class="repair_block_text">
                Установка <br />
                кондиционеров
              </div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/remont-noutbukov-kazan">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_laptops.svg"
                alt=""
              />
              <div class="repair_block_text">Компьютеры<br />и ноутбуки</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/remont-televizorov">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_televizor.svg"
                alt=""
              />
              <div class="repair_block_text">Телевизоры</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/plit">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_plita.svg"
                alt=""
              />
              <div class="repair_block_text">Газовые<br />и электроплиты</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/zapravka-konditsionerov-v-kazani">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image condey"
                src="~assets/icons/r_condey.svg"
                alt=""
              />
              <div class="repair_block_text">
                Ремонт <br />
                кондиционеров
              </div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/cofe">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_coffe.svg"
                alt=""
              />
              <div class="repair_block_text">Кофемашины</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/remont-holodilnikov">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_freezer.svg"
                alt=""
              />
              <div class="repair_block_text">Холодильники</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
        <div class="col-md-4">
          <nuxt-link to="/whasher">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/icons/r_posuda.svg"
                alt=""
              />
              <div class="repair_block_text">Посудомоечные<br />машины</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>

        <div class="col-md-4">
          <nuxt-link to="/remont-pylesosov">
            <div class="repair_block">
              <img
                loading="lazy"
                class="repair_block_image"
                src="~assets/img/pylosos_icon.png"
                alt=""
              />
              <div class="repair_block_text">Пылесосы</div>
              <img loading="lazy" class="r_arrow" src="~assets/icons/right_arrow.svg" alt="" />
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="center">
       <button class="btn-cta" @click="showModal()">Вызвать мастера</button>
    </div>
  </section>
</template>

<script>
export default {
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.we_repair {
  padding-top: 115px;
  padding-bottom: 84px;
  .repair_container {
    .row {
      h2 {
        margin-bottom: 60px;
      }
      margin-bottom: 70px;
      .repair_block {
        margin-bottom: 67px;
        display: flex;
        position: relative;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        .repair_block_image {
          position: absolute;
          &.condey {
            margin-left: -15px;
          }
        }
        .repair_block_text {
          margin-left: 90px;
          font-family: 'PtRootUiBold';
          font-style: normal;
          font-size: 18px;
          line-height: 140%;
          /* or 25px */
          color: #000000;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .repair_container {
    padding-left: 10%;
  }
}
</style>
