<template>
  <div>
    <VueSlickCarousel
      :arrows="false"
      :dots="false"
      :autoplay="false"
      :pauseOnHover="false"

      class="carousel"
    >
      <div v-for="slide in sliders" :key="slide.name">
        <div class="slide_container container-xl py-2">
          <div class='row no-gutters'>
            <div class="col-12 col-md-4">
              <div>
                <div class='h1'>
                  <span class="big">{{ slide.h1 }}</span>
                  <span
                    v-if="slide.h1_small"
                    v-html="slide.h1_small"
                    class="small mt-2"
                  ></span>
                </div>
                <h3 class="hero_subtext" v-html="slide.hero_subtext"></h3>

                 <button class="btn-cta mt-4" @click="showModal()">
                  {{ slide.button }}
                </button>
              </div>
            </div>
            <div class="col-8 d-none d-md-flex hero_img_container">
              <div class="main_image pt-4 pb-2">
                <img
                  loading="lazy"
                  class="img-fluid"
                  :src="require(`../assets/img/${slide.img}`)"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import modalkaVue from '~/components/modalka.vue'
export default {
  setup() {
    return {}
  },
  data() {
    return {
      sliders: [
        {
          name: 'komplekt',
          h1: 'Комплектом выгоднее',
          hero_subtext: 'Бесплатная доставка <br />и расширенная гарантия',
          button: 'Узнать больше',
          img: 'slider_komplect.png',
        },
        {
          name: 'oplata',
          h1: 'Оплата',
          hero_subtext:
            'по терминалу<br />и безналичный расчёт<br />для юридических лиц',
          button: 'Узнать больше',
          img: 'slider_oplata.png',
        },
        {
          img: 'slider_dostavka.png',
          name: 'dostavka',
          h1: 'ДОСТАВКА',
          h1_small: 'В ДЕНЬ ЗАКАЗА.<br/>ОПЛАТА ПРИ ПОЛУЧЕНИИ',
          hero_subtext: 'Покупка не выходя из дома',
          button: 'Заказать технику',
        },
        {
          img: 'slide_skupka.png',
          name: 'service',
          h1: 'скупка техники',
          hero_subtext:
            'Купим дорого рабочую и нерабочую <br/> технику, вывоз в течение 30 минут',
          button: 'Заказать вывоз',
        },
        {
          img: 'slide_pt.png',
          name: 'pt',
          h1: 'светлая пятница',
          hero_subtext: 'Каждую пятницу скидка до 20%',
          button: 'Узнать подробнее',
        },
      ],
    }
  },
  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Главная' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
