<template>
  <div class="sf-add-to-cart">
    <slot name="add-to-cart-btn"></slot>
  </div>
</template>
<script>

export default {
  name: "SwAddToCart",

  props: {
    /**
     * Boolean to indicate whether product
     * can be added to cart
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Selected quantity
     */
    qty: {
      type: [Number, String],
      default: 1,
    },
  },
};
</script>
<style lang="scss">
@import "~@storefront-ui/shared/styles/components/molecules/SfAddToCart.scss";
</style>
