<template>
  <div class="sw-bottom-navigation">
    <SfBottomNavigation data-cy="bottom-navigation">
      <nuxt-link aria-label="Go to Home Page" :to="$routing.getUrl('/')">
        <SfBottomNavigationItem
          :label="$t('Home')"
          icon="home"
          icon-size="20px"
          data-cy="bottom-navigation-home"
        />
      </nuxt-link>
      <nuxt-link aria-label="Go to Skupka Page" to="/skupka">
        <SfBottomNavigationItem
          label="Скупка"
          data-cy="bottom-navigation-home"
        >
          <template #icon>
            <SfIcon
              :icon="[
                'M18.7661 5.05807L14.6633 0H4.1028L0 5.05807V19H18.7677L18.7661 5.05807ZM17.1433 4.71828H9.92281V1.04826H14.1538L17.1433 4.71828ZM4.61093 1.04826H8.84192V4.71828H1.62146L4.61093 1.04826ZM1.04857 17.9508V5.73526H17.7162V17.9508H1.04857Z',
                'M10.3346 11.7508L10.7654 11.3263H8.28192C7.95079 11.3263 7.65331 11.3594 7.42046 11.5226C6.95741 11.849 6.85781 12.3718 6.98973 12.7301C7.08933 13.1215 7.38682 13.5461 7.98311 13.5792C8.4798 13.6124 8.9765 13.6124 9.50683 13.6124H10.2687H10.6335C10.9646 13.6124 11.1961 13.8738 11.1961 14.167C11.1948 14.4603 10.931 14.6885 10.6322 14.6885H10.2674H9.53918H9.47321H8.77732C8.47982 14.6885 8.21466 14.6885 7.91585 14.6554C6.95611 14.5904 6.16061 13.9375 5.92909 12.9902C5.66393 12.0441 6.02868 11.0967 6.85651 10.5421C7.3532 10.2157 7.88354 10.1507 8.34659 10.1507H10.83L10.2997 9.72608C10.2001 9.62791 10.1341 9.4647 10.1341 9.33465C10.1341 9.2046 10.2001 9.0414 10.2997 8.94322C10.4006 8.84632 10.5662 8.81317 10.6981 8.81317C10.83 8.81317 10.9956 8.8782 11.0952 8.97638L12.5193 10.3802C12.6189 10.4784 12.6849 10.6416 12.6512 10.7716C12.6512 10.9017 12.5853 11.0649 12.4857 11.1631L11.1275 12.5669C11.0279 12.6651 10.8623 12.7301 10.7304 12.7301C10.5649 12.7301 10.4329 12.6651 10.3333 12.5669C10.2337 12.4687 10.1678 12.3055 10.1678 12.1754C10.1354 12.0122 10.2014 11.849 10.3346 11.7508Z'
              ]"
              size="19px"
              viewBox="0 0 19 19"
              style="width: 19px; margin-bottom: 8px;"
            />
          </template>
        </SfBottomNavigationItem>
      </nuxt-link>
      <SfBottomNavigationItem
        icon="menu"
        icon-size="20px"
        label="Каталог"
        class="menu-button"
        data-cy="bottom-navigation-menu"
        @click.self="toggleMobileNavigation"
      >
        <template #icon>
          <SfIcon
            :icon="[
              'M2.875 4.75049C2.57663 4.75049 2.29048 4.86901 2.07951 5.07999C1.86853 5.29097 1.75 5.57712 1.75 5.87549V17.1255C1.75 17.4239 1.86853 17.71 2.07951 17.921C2.29048 18.132 2.57663 18.2505 2.875 18.2505H14.125C14.2727 18.2505 14.419 18.2214 14.5555 18.1649C14.692 18.1083 14.816 18.0255 14.9205 17.921C15.025 17.8165 15.1078 17.6925 15.1644 17.556C15.2209 17.4195 15.25 17.2732 15.25 17.1255V8.50049C15.25 8.08628 15.5858 7.75049 16 7.75049C16.4142 7.75049 16.75 8.08628 16.75 8.50049V17.1255C16.75 17.4702 16.6821 17.8116 16.5502 18.13C16.4183 18.4485 16.2249 18.7379 15.9812 18.9816C15.7374 19.2254 15.448 19.4188 15.1295 19.5507C14.8111 19.6826 14.4697 19.7505 14.125 19.7505H2.875C2.17881 19.7505 1.51113 19.4739 1.01884 18.9816C0.526562 18.4894 0.25 17.8217 0.25 17.1255V5.87549C0.25 5.1793 0.526562 4.51162 1.01884 4.01933C1.51113 3.52705 2.17881 3.25049 2.875 3.25049H10.7256C11.1398 3.25049 11.4756 3.58627 11.4756 4.00049C11.4756 4.4147 11.1398 4.75049 10.7256 4.75049H2.875Z',
              'M19.5597 0.496596C19.4913 0.421334 19.4082 0.360741 19.3156 0.318478C19.2231 0.276215 19.1229 0.253161 19.0211 0.250707C18.9194 0.248254 18.8182 0.266452 18.7237 0.304203C18.6292 0.341954 18.5434 0.398473 18.4713 0.470346L17.8915 1.04738C17.8212 1.1177 17.7817 1.21304 17.7817 1.31246C17.7817 1.41187 17.8212 1.50721 17.8915 1.57753L18.423 2.10816C18.4579 2.14317 18.4993 2.17094 18.5449 2.1899C18.5905 2.20885 18.6394 2.21861 18.6888 2.21861C18.7382 2.21861 18.7871 2.20885 18.8327 2.1899C18.8783 2.17094 18.9197 2.14317 18.9546 2.10816L19.5199 1.54566C19.8058 1.26019 19.8326 0.79519 19.5597 0.496596ZM16.7191 2.21925L8.25725 10.6661C8.20594 10.7172 8.16865 10.7807 8.14896 10.8503L7.75756 12.0161C7.74818 12.0478 7.74752 12.0813 7.75564 12.1133C7.76375 12.1453 7.78035 12.1745 7.80368 12.1978C7.82701 12.2211 7.85621 12.2377 7.88818 12.2459C7.92016 12.254 7.95374 12.2533 7.98537 12.2439L9.15021 11.8525C9.21989 11.8328 9.28334 11.7956 9.33443 11.7443L17.7813 3.28144C17.8595 3.20246 17.9033 3.09583 17.9033 2.98472C17.9033 2.87361 17.8595 2.76699 17.7813 2.688L17.3149 2.21925C17.2358 2.14039 17.1287 2.09611 17.017 2.09611C16.9053 2.09611 16.7982 2.14039 16.7191 2.21925Z'
            ]"
            size="20px"
            viewBox="0 0 20 20"
            style="width: 20px"
            @click="mobileCatalogIsActive = !mobileCatalogIsActive"
          />
          <!-- TODO: remove transition after animation fix in SFUI -->
          <transition name="sf-collapse-bottom" mode="out-in">
            <SwBottomMenu
              v-if="mobileCatalogIsActive"
              @close="mobileCatalogIsActive = false"
            />
          </transition>
        </template>
      </SfBottomNavigationItem>
      <SfBottomNavigationItem
        icon="menu"
        icon-size="20px"
        label="Ремонт"
        class="menu-button"
        data-cy="bottom-navigation-menu"
        @click.self="toggleMobileNavigation"
      >
        <template #icon>
          <SfIcon
            :icon="[
              'M20.7188 6.62951L21.0712 6.9842L21.0724 6.98299L20.7188 6.62951ZM18.9235 6.62951L18.5698 6.98299L18.5711 6.9842L18.9235 6.62951ZM17.8697 5.57529L17.5152 5.92787L17.5161 5.92877L17.8697 5.57529ZM17.4994 4.67787L16.9994 4.67787L17.4994 4.67787ZM17.8697 3.78045L17.5162 3.42689L17.5152 3.42787L17.8697 3.78045ZM20.2552 1.39498L19.9018 1.04127L19.9016 1.04143L20.2552 1.39498ZM20.243 1.33029L20.4435 0.872219L20.4398 0.870646L20.243 1.33029ZM15.4397 2.26498L15.792 2.61983L15.792 2.61978L15.4397 2.26498ZM14.6021 6.85873L14.1207 6.99401L14.1207 6.99407L14.6021 6.85873ZM14.2425 8.13092L13.9032 7.76366L13.9022 7.76464L14.2425 8.13092ZM6.13315 15.6665L6.46675 16.0391L6.47351 16.0328L6.13315 15.6665ZM8.83174 18.3637L8.46655 18.022L8.45908 18.0304L8.83174 18.3637ZM16.4325 10.2403L16.7976 10.5819L16.7988 10.5806L16.4325 10.2403ZM17.6874 9.87935L17.5579 10.3623L17.5583 10.3624L17.6874 9.87935ZM22.2375 9.03842L21.8866 8.68222L21.8866 8.68223L22.2375 9.03842ZM23.1797 4.2417L23.6294 4.02301L23.6265 4.01722L23.1797 4.2417ZM23.116 4.23138L22.7627 3.8775L22.7623 3.8779L23.116 4.23138ZM10.75 11.315L10.4014 11.6734C10.5897 11.8566 10.8877 11.8628 11.0834 11.6876L10.75 11.315ZM9.29684 9.89515L8.94443 10.2499L8.94753 10.2529L9.29684 9.89515ZM9.14075 8.89437L8.70395 8.65103C8.7016 8.65526 8.6993 8.65953 8.69707 8.66382L9.14075 8.89437ZM9.30481 8.6778L8.95572 8.31981L8.95231 8.3232L9.30481 8.6778ZM10.0398 7.96109L10.3889 8.3191L10.3937 8.31432L10.0398 7.96109ZM10.3037 7.77968L10.1013 7.32247L10.1007 7.32275L10.3037 7.77968ZM11.2412 7.94937L10.8914 8.30664L10.893 8.30815L11.2412 7.94937ZM12.8073 9.47374L13.1408 9.84632C13.244 9.75393 13.3043 9.62285 13.3072 9.48434C13.3101 9.34584 13.2555 9.21232 13.1563 9.11564L12.8073 9.47374ZM15.4532 11.2911C15.251 11.103 14.9347 11.1144 14.7466 11.3166C14.5585 11.5188 14.5699 11.8351 14.772 12.0232L15.4532 11.2911ZM20.2689 16.317L19.9489 16.7012L19.9508 16.7028L20.2689 16.317ZM20.3129 17.2508L19.96 16.8966L19.9594 16.8972L20.3129 17.2508ZM18.7482 18.815L19.0977 19.1726L19.1017 19.1686L18.7482 18.815ZM17.7972 18.7794L17.4184 19.1058L17.4219 19.1098L17.7972 18.7794ZM13.5051 13.418C13.3141 13.2185 12.9976 13.2116 12.7981 13.4025C12.5987 13.5935 12.5917 13.91 12.7827 14.1095L13.5051 13.418ZM1.06286 7.07032L0.713401 6.71271C0.708935 6.71708 0.704551 6.72152 0.700251 6.72605L1.06286 7.07032ZM2.44145 5.72313L2.79091 6.08073L2.79198 6.07968L2.44145 5.72313ZM2.60129 5.65985L2.58982 6.15972C2.59544 6.15984 2.60106 6.15988 2.60668 6.15982L2.60129 5.65985ZM2.76114 5.72313L3.11281 5.36762L3.1073 5.36233L2.76114 5.72313ZM3.14505 5.85297L3.09053 5.35587L3.08137 5.35704L3.14505 5.85297ZM3.64051 5.65985L3.98508 6.02219L3.98802 6.01934L3.64051 5.65985ZM3.84395 4.50953L3.44472 4.20833L3.43863 4.21677L3.84395 4.50953ZM4.77114 3.45016L4.42117 3.09305L4.41977 3.09443L4.77114 3.45016ZM8.0477 1.36656L8.23445 1.83038L8.23508 1.83013L8.0477 1.36656ZM9.9377 1L9.93721 1.5H9.9377V1ZM12.1061 1.73453L12.4509 1.37219L12.4418 1.36395L12.1061 1.73453ZM12.588 2.28016L12.4151 2.74931C12.6224 2.82573 12.8554 2.75698 12.988 2.58022C13.1206 2.40346 13.1214 2.16061 12.9901 1.98292L12.588 2.28016ZM12.1563 2.15032L12.2709 1.6635L12.2601 1.6612L12.1563 2.15032ZM11.2188 2.09125L11.2595 2.58959L11.2603 2.58952L11.2188 2.09125ZM9.43754 2.7475L9.12889 2.35413L9.12727 2.35542L9.43754 2.7475ZM8.46208 4.84328L7.96269 4.81856L7.96265 4.81923L8.46208 4.84328ZM10.1543 7.44438L10.5267 7.11075C10.5206 7.10396 10.5143 7.09733 10.5079 7.09088L10.1543 7.44438ZM10.1383 7.87375L9.79164 7.51341L9.78693 7.51806L10.1383 7.87375ZM9.28426 8.7175L9.63432 9.07452L9.63566 9.0732L9.28426 8.7175ZM8.83708 8.72172L8.48352 9.07528C8.48691 9.07866 8.49034 9.08199 8.49382 9.08528L8.83708 8.72172ZM5.86989 6.61188L5.92376 6.11477L5.91919 6.11432L5.86989 6.61188ZM5.01348 6.79328L5.25428 7.23154L5.26029 7.22812L5.01348 6.79328ZM4.88973 6.88703L4.53306 6.53661L4.53038 6.53937L4.88973 6.88703ZM4.90942 7.82828L4.56491 8.19068L4.5678 8.19339L4.90942 7.82828ZM4.98958 7.90328L5.33814 7.54469L5.33119 7.53818L4.98958 7.90328ZM4.98958 8.21453L4.64107 7.856L4.64025 7.85681L4.98958 8.21453ZM3.61239 9.55938L3.263 9.20159L3.25664 9.20804L3.61239 9.55938ZM3.45255 9.625L3.45879 9.12492L3.44758 9.12503L3.45255 9.625ZM3.2927 9.56172L2.94345 9.91955L2.94685 9.92281L3.2927 9.56172ZM1.06286 7.38532L0.700251 7.72958C0.70462 7.73418 0.709076 7.7387 0.713618 7.74313L1.06286 7.38532ZM1 7.22782L1.5 7.22782L1 7.22782ZM20.3664 6.27482C20.2214 6.41882 20.0254 6.49964 19.8211 6.49964V7.49964C20.2895 7.49964 20.7389 7.31434 21.0712 6.9842L20.3664 6.27482ZM19.8211 6.49964C19.6168 6.49964 19.4208 6.41882 19.2759 6.27482L18.5711 6.9842C18.9033 7.31434 19.3527 7.49964 19.8211 7.49964V6.49964ZM19.2771 6.27604L18.2233 5.22182L17.5161 5.92877L18.5698 6.98298L19.2771 6.27604ZM18.2242 5.22271C18.0803 5.07794 17.9994 4.88205 17.9994 4.67787L16.9994 4.67787C16.9994 5.14632 17.1849 5.59572 17.5152 5.92787L18.2242 5.22271ZM17.9994 4.67787C17.9994 4.47369 18.0803 4.2778 18.2242 4.13303L17.5152 3.42787C17.1849 3.76002 16.9994 4.20942 16.9994 4.67787L17.9994 4.67787ZM18.2233 4.134L20.6087 1.74853L19.9016 1.04143L17.5162 3.42689L18.2233 4.134ZM20.6086 1.74869C20.6708 1.68656 20.7168 1.61019 20.7428 1.52623L19.7874 1.23089C19.8095 1.15933 19.8488 1.09423 19.9018 1.04127L20.6086 1.74869ZM20.7428 1.52623C20.7687 1.44229 20.7738 1.35325 20.7575 1.26684L19.7748 1.45199C19.7609 1.37833 19.7653 1.30243 19.7874 1.23089L20.7428 1.52623ZM20.7575 1.26684C20.7413 1.18046 20.7041 1.09937 20.6494 1.03061L19.867 1.65335C19.8203 1.59474 19.7887 1.52562 19.7748 1.45199L20.7575 1.26684ZM20.6494 1.03061C20.5947 0.961821 20.524 0.907463 20.4435 0.872234L20.0425 1.78835C19.9739 1.75832 19.9137 1.71199 19.867 1.65335L20.6494 1.03061ZM20.4398 0.870646C18.7161 0.13268 16.5018 0.50574 15.0874 1.91018L15.792 2.61978C16.9126 1.50703 18.6911 1.20978 20.0462 1.78994L20.4398 0.870646ZM15.0875 1.91013C13.6879 3.2994 13.6541 5.33368 14.1207 6.99401L15.0834 6.72344C14.6613 5.22159 14.7653 3.63899 15.792 2.61983L15.0875 1.91013ZM14.1207 6.99407C14.1589 7.12993 14.1588 7.27371 14.1204 7.40952L15.0828 7.68148C15.1713 7.36828 15.1715 7.03671 15.0834 6.72339L14.1207 6.99407ZM14.1204 7.40952C14.0821 7.54533 14.0069 7.66789 13.9032 7.76366L14.5818 8.49817C14.8209 8.27731 14.9942 7.99467 15.0828 7.68148L14.1204 7.40952ZM13.9022 7.76464L5.79279 15.3003L6.47351 16.0328L14.5829 8.49719L13.9022 7.76464ZM5.79961 15.2941C5.5554 15.5127 5.35836 15.7789 5.22052 16.0763L6.12783 16.4968C6.20848 16.3228 6.32379 16.167 6.46669 16.039L5.79961 15.2941ZM5.22052 16.0763C5.08269 16.3737 5.00697 16.6961 4.99798 17.0238L5.9976 17.0512C6.00286 16.8595 6.04717 16.6708 6.12783 16.4968L5.22052 16.0763ZM4.99798 17.0238C4.98899 17.3515 5.04692 17.6776 5.16824 17.9821L6.09724 17.612C6.02624 17.4338 5.99234 17.243 5.9976 17.0512L4.99798 17.0238ZM5.16824 17.9821C5.28956 18.2866 5.47172 18.5632 5.70357 18.7949L6.41049 18.0876C6.27482 17.952 6.16823 17.7902 6.09724 17.612L5.16824 17.9821ZM5.70357 18.7949C5.93542 19.0267 6.2121 19.2087 6.51669 19.3298L6.88631 18.4007C6.70807 18.3298 6.54617 18.2232 6.41049 18.0876L5.70357 18.7949ZM6.51669 19.3298C6.82128 19.451 7.14738 19.5088 7.47505 19.4996L7.44711 18.5C7.25536 18.5054 7.06454 18.4716 6.88631 18.4007L6.51669 19.3298ZM7.47505 19.4996C7.80273 19.4904 8.12509 19.4146 8.42244 19.2766L8.00149 18.3695C7.8275 18.4502 7.63886 18.4946 7.44711 18.5L7.47505 19.4996ZM8.42244 19.2766C8.71978 19.1386 8.98586 18.9414 9.20441 18.6971L8.45908 18.0304C8.33119 18.1734 8.17549 18.2887 8.00149 18.3695L8.42244 19.2766ZM9.19685 18.7053L16.7976 10.5819L16.0674 9.89868L8.46664 18.0221L9.19685 18.7053ZM16.7988 10.5806C16.8935 10.4787 17.0143 10.4045 17.148 10.366L16.8716 9.40499C16.5631 9.49371 16.2847 9.66483 16.0663 9.89994L16.7988 10.5806ZM17.148 10.366C17.2818 10.3276 17.4235 10.3263 17.5579 10.3623L17.8168 9.39641C17.5068 9.3133 17.18 9.31627 16.8716 9.40499L17.148 10.366ZM17.5583 10.3624C19.2049 10.8024 21.207 10.7555 22.5884 9.39461L21.8866 8.68223C20.8699 9.68386 19.3067 9.79448 17.8164 9.3963L17.5583 10.3624ZM22.5884 9.39462C23.3224 8.67161 23.7523 7.69039 23.9186 6.73089C24.0841 5.77648 23.9988 4.78269 23.6294 4.02303L22.7301 4.46037C22.985 4.98461 23.073 5.75449 22.9333 6.56012C22.7946 7.36066 22.4413 8.13584 21.8866 8.68222L22.5884 9.39462ZM23.6265 4.01722C23.5882 3.94091 23.5322 3.87478 23.4634 3.82427L22.872 4.63065C22.8133 4.58759 22.7656 4.53122 22.7329 4.46617L23.6265 4.01722ZM23.4634 3.82427C23.3945 3.77374 23.3146 3.7403 23.2303 3.72667L23.0706 4.71384C22.9988 4.70222 22.9307 4.67372 22.872 4.63065L23.4634 3.82427ZM23.2303 3.72667C23.146 3.71303 23.0597 3.71959 22.9784 3.74581L23.2854 4.69752C23.2161 4.71987 23.1425 4.72546 23.0706 4.71384L23.2303 3.72667ZM22.9784 3.74581C22.8971 3.77204 22.8232 3.81718 22.7627 3.8775L23.4692 4.58527C23.4177 4.63669 23.3547 4.67516 23.2854 4.69752L22.9784 3.74581ZM22.7623 3.8779L20.3652 6.27603L21.0724 6.98299L23.4696 4.58487L22.7623 3.8779ZM11.0986 10.9566C10.2792 10.1596 9.90679 9.79189 9.64615 9.5374L8.94753 10.2529C9.20346 10.5028 9.58202 10.8766 10.4014 11.6734L11.0986 10.9566ZM9.64923 9.54044C9.59557 9.48712 9.56033 9.41805 9.54868 9.34331L8.56062 9.49741C8.60512 9.78272 8.7396 10.0463 8.94445 10.2499L9.64923 9.54044ZM9.54868 9.34331C9.53702 9.26856 9.54954 9.19204 9.58442 9.12491L8.69707 8.66382C8.56393 8.92005 8.51612 9.21211 8.56062 9.49741L9.54868 9.34331ZM9.57754 9.1377C9.59907 9.09905 9.62592 9.06361 9.6573 9.03241L8.95231 8.3232C8.8546 8.42032 8.771 8.53068 8.70395 8.65103L9.57754 9.1377ZM9.65388 9.03578L10.3889 8.31906L9.69074 7.60311L8.95574 8.31983L9.65388 9.03578ZM10.3937 8.31432C10.4263 8.28168 10.4646 8.25533 10.5067 8.23661L10.1007 7.32275C9.94607 7.39145 9.80546 7.48811 9.68593 7.60785L10.3937 8.31432ZM10.5061 8.23689C10.5699 8.20863 10.6408 8.20018 10.7095 8.21261L10.8876 7.2286C10.622 7.18053 10.3481 7.21323 10.1013 7.32247L10.5061 8.23689ZM10.7095 8.21261C10.7782 8.22504 10.8415 8.25779 10.8914 8.30663L11.591 7.5921C11.3982 7.40329 11.1531 7.27667 10.8876 7.2286L10.7095 8.21261ZM10.893 8.30815C11.1481 8.55575 11.6156 9.01061 12.4584 9.83185L13.1563 9.11564C12.3134 8.29437 11.8453 7.83892 11.5895 7.59059L10.893 8.30815ZM12.4739 9.10116L10.4165 10.9424L11.0834 11.6876L13.1408 9.84632L12.4739 9.10116ZM14.772 12.0232C16.6897 13.8075 19.0281 15.9344 19.9489 16.7012L20.5888 15.9328C19.6928 15.1866 17.3746 13.0788 15.4532 11.2911L14.772 12.0232ZM19.9508 16.7028C19.9649 16.7145 19.9764 16.7289 19.9846 16.7452L20.8788 16.2975C20.8081 16.1564 20.7087 16.0316 20.5869 15.9312L19.9508 16.7028ZM19.9846 16.7452C19.9928 16.7616 19.9975 16.7795 19.9983 16.7977L20.9972 16.7506C20.9898 16.5929 20.9494 16.4386 20.8788 16.2975L19.9846 16.7452ZM19.9983 16.7977C19.9992 16.816 19.9962 16.8342 19.9896 16.8512L20.922 17.2128C20.979 17.0657 21.0047 16.9082 20.9972 16.7506L19.9983 16.7977ZM19.9896 16.8512C19.983 16.8683 19.9729 16.8837 19.96 16.8966L20.6659 17.6049C20.7777 17.4935 20.8649 17.3599 20.922 17.2128L19.9896 16.8512ZM19.9594 16.8972L18.3947 18.4614L19.1017 19.1686L20.6664 17.6044L19.9594 16.8972ZM18.3988 18.4574C18.3836 18.4722 18.3656 18.4838 18.3459 18.4914L18.7058 19.4244C18.8521 19.3679 18.9855 19.2823 19.0977 19.1726L18.3988 18.4574ZM18.3459 18.4914C18.3261 18.499 18.305 18.5025 18.2838 18.5018L18.2463 19.501C18.4031 19.5069 18.5594 19.4808 18.7058 19.4244L18.3459 18.4914ZM18.2838 18.5018C18.2626 18.501 18.2418 18.4959 18.2226 18.4868L17.7939 19.3902C17.9356 19.4575 18.0896 19.4952 18.2463 19.501L18.2838 18.5018ZM18.2226 18.4868C18.2035 18.4777 18.1864 18.4648 18.1724 18.4489L17.4219 19.1098C17.5256 19.2276 17.6522 19.323 17.7939 19.3902L18.2226 18.4868ZM18.1759 18.4529C17.3916 17.543 15.2947 15.2878 13.5051 13.418L12.7827 14.1095C14.5724 15.9793 16.653 18.2177 17.4184 19.1058L18.1759 18.4529ZM1.41231 7.42792L2.79091 6.08073L2.09199 5.36552L0.713401 6.71271L1.41231 7.42792ZM2.79198 6.07968C2.76535 6.10586 2.73373 6.12644 2.69901 6.14018L2.33091 5.2104C2.24128 5.24588 2.15967 5.29899 2.09093 5.36657L2.79198 6.07968ZM2.69901 6.14018C2.66428 6.15393 2.62715 6.16057 2.58982 6.15972L2.61277 5.15998C2.5164 5.15777 2.42055 5.17491 2.33091 5.2104L2.69901 6.14018ZM2.60668 6.15982C2.53531 6.16059 2.46649 6.13334 2.41498 6.08392L3.1073 5.36233C2.9699 5.23051 2.7863 5.15782 2.59591 5.15988L2.60668 6.15982ZM2.4095 6.07859C2.51343 6.1814 2.63942 6.25918 2.77791 6.30601L3.0983 5.35873C3.10374 5.36057 3.10869 5.36363 3.11277 5.36767L2.4095 6.07859ZM2.77791 6.30601C2.91639 6.35285 3.06372 6.36752 3.20872 6.3489L3.08137 5.35704C3.08707 5.35631 3.09286 5.35689 3.0983 5.35873L2.77791 6.30601ZM3.19955 6.34999C3.41856 6.32598 3.74261 6.25274 3.98507 6.02218L3.29596 5.29752C3.2975 5.29605 3.28466 5.30824 3.24353 5.32311C3.20346 5.33759 3.15106 5.34932 3.09054 5.35595L3.19955 6.34999ZM3.98802 6.01934C4.16178 5.85137 4.2283 5.65011 4.25147 5.48181C4.27271 5.32762 4.26061 5.17234 4.25359 5.07519C4.23447 4.81069 4.25262 4.79768 4.24928 4.8023L3.43863 4.21677C3.18779 4.56405 3.24484 4.99026 3.25619 5.14728C3.2644 5.26089 3.26543 5.31195 3.26082 5.34539C3.25816 5.36472 3.25987 5.33238 3.293 5.30035L3.98802 6.01934ZM4.2431 4.81067C4.51152 4.45489 4.80543 4.11908 5.12251 3.80589L4.41977 3.09443C4.06824 3.44166 3.74239 3.81396 3.44481 4.2084L4.2431 4.81067ZM5.1211 3.80727C5.37727 3.55622 6.44057 2.55268 8.23445 1.83038L7.86095 0.902751C5.89921 1.69264 4.7275 2.79285 4.42117 3.09305L5.1211 3.80727ZM8.23508 1.83013C8.77591 1.61152 9.35387 1.49943 9.93721 1.5L9.93819 0.500003C9.22608 0.499301 8.52054 0.63614 7.86033 0.903002L8.23508 1.83013ZM9.9377 1.5C10.8619 1.5 11.5608 1.91517 11.7705 2.10512L12.4418 1.36395C12.0646 1.02234 11.1314 0.500002 9.9377 0.500002V1.5ZM11.7615 2.09677C11.9166 2.24438 12.0587 2.40519 12.186 2.57739L12.9901 1.98292C12.8283 1.76415 12.6479 1.55984 12.4508 1.3723L11.7615 2.09677ZM12.7609 1.81101C12.6007 1.75196 12.4371 1.70274 12.2709 1.66362L12.0417 2.63701C12.1684 2.66682 12.293 2.70432 12.4151 2.74931L12.7609 1.81101ZM12.2601 1.6612C11.9044 1.58575 11.5396 1.56277 11.1772 1.59298L11.2603 2.58952C11.5254 2.56742 11.7923 2.58423 12.0525 2.63943L12.2601 1.6612ZM11.178 1.59292C10.4673 1.65104 9.6174 1.97084 9.1289 2.35414L9.74619 3.14087C10.063 2.89229 10.7206 2.63366 11.2595 2.58959L11.178 1.59292ZM9.12727 2.35542C8.33451 2.98279 8.01189 3.82463 7.96269 4.81857L8.96146 4.868C9.00039 4.08163 9.23746 3.54347 9.74782 3.13958L9.12727 2.35542ZM7.96265 4.81923C7.95363 5.00662 7.95634 5.20501 8.00559 5.42033C8.05525 5.63742 8.14621 5.84635 8.28495 6.06929C8.55089 6.4966 9.0219 7.01889 9.80066 7.79788L10.5079 7.09088C9.72194 6.30471 9.33092 5.85739 9.13396 5.54091C9.04127 5.39196 9.00056 5.28545 8.98041 5.19734C8.95985 5.10745 8.95458 5.01088 8.9615 4.86734L7.96265 4.81923ZM9.78185 7.778C9.7489 7.74122 9.7315 7.69309 9.73334 7.64374L10.7326 7.68083C10.7404 7.4713 10.6666 7.26693 10.5267 7.11075L9.78185 7.778ZM9.73334 7.64374C9.73517 7.59439 9.75608 7.54768 9.79167 7.51344L10.485 8.23407C10.6361 8.08869 10.7249 7.89036 10.7326 7.68083L9.73334 7.64374ZM9.78693 7.51806L8.93286 8.36181L9.63566 9.0732L10.4897 8.22945L9.78693 7.51806ZM8.93421 8.36049C8.96698 8.32836 9.01091 8.31017 9.0568 8.30974L9.06624 9.30969C9.27888 9.30769 9.48248 9.2234 9.63432 9.07452L8.93421 8.36049ZM9.0568 8.30974C9.10269 8.3093 9.14697 8.32666 9.18033 8.35816L8.49382 9.08528C8.64844 9.23127 8.85359 9.3117 9.06624 9.30969L9.0568 8.30974ZM9.19063 8.36817C8.14686 7.3244 7.42554 6.77174 6.9872 6.50559L6.4682 7.36036C6.81267 7.56952 7.47041 8.06217 8.48352 9.07528L9.19063 8.36817ZM6.9872 6.50559C6.52904 6.2274 6.143 6.13855 5.92375 6.11479L5.81602 7.10897C5.89959 7.11802 6.14355 7.16324 6.4682 7.36036L6.9872 6.50559ZM5.91919 6.11432C5.51902 6.07466 5.1164 6.15995 4.76668 6.35844L5.26029 7.22812C5.43031 7.13163 5.62604 7.09016 5.82059 7.10944L5.91919 6.11432ZM4.77271 6.35508C4.68441 6.40359 4.60367 6.46475 4.53307 6.53662L5.2464 7.23745C5.24872 7.23509 5.25136 7.23308 5.25426 7.23149L4.77271 6.35508ZM4.53038 6.53937C4.42361 6.64974 4.33975 6.78016 4.28365 6.9231L5.21454 7.28842C5.22239 7.26841 5.23413 7.25015 5.24908 7.23469L4.53038 6.53937ZM4.28365 6.9231C4.22756 7.06605 4.20033 7.21869 4.20354 7.37222L5.20332 7.35131C5.20287 7.32981 5.20668 7.30844 5.21454 7.28842L4.28365 6.9231ZM4.20354 7.37222C4.20675 7.52574 4.24034 7.67711 4.30236 7.81759L5.21716 7.41367C5.20847 7.394 5.20377 7.3728 5.20332 7.35131L4.20354 7.37222ZM4.30236 7.81759C4.36439 7.95807 4.45363 8.08487 4.56492 8.19067L5.25392 7.4659C5.23833 7.45109 5.22584 7.43333 5.21716 7.41367L4.30236 7.81759ZM4.5678 8.19339L4.64796 8.26839L5.33119 7.53818L5.25104 7.46318L4.5678 8.19339ZM4.64107 8.26182C4.61394 8.23545 4.59238 8.2039 4.57765 8.16905L5.49879 7.77982C5.46147 7.69151 5.40683 7.61158 5.33808 7.54475L4.64107 8.26182ZM4.57765 8.16905C4.56292 8.1342 4.55534 8.09675 4.55534 8.05891H5.55534C5.55534 7.96303 5.53611 7.86813 5.49879 7.77982L4.57765 8.16905ZM4.55534 8.05891C4.55534 8.02107 4.56292 7.98362 4.57765 7.94877L5.49879 8.338C5.53611 8.24968 5.55534 8.15479 5.55534 8.05891H4.55534ZM4.57765 7.94877C4.59237 7.91392 4.61394 7.88238 4.64107 7.856L5.33808 8.57307C5.40683 8.50624 5.46148 8.4263 5.49879 8.338L4.57765 7.94877ZM4.64025 7.85681L3.26306 9.20165L3.96172 9.91711L5.3389 8.57226L4.64025 7.85681ZM3.25664 9.20804C3.28302 9.18132 3.31453 9.1602 3.34926 9.14594L3.72905 10.071C3.81871 10.0342 3.90003 9.97969 3.96814 9.91072L3.25664 9.20804ZM3.34926 9.14594C3.38399 9.13168 3.42124 9.12457 3.45879 9.12504L3.4463 10.125C3.54323 10.1262 3.63939 10.1078 3.72905 10.071L3.34926 9.14594ZM3.44758 9.12503C3.51867 9.12432 3.58722 9.15146 3.63856 9.20064L2.94685 9.92281C3.08413 10.0543 3.26741 10.1269 3.45751 10.125L3.44758 9.12503ZM3.64194 9.20391L1.4121 7.0275L0.713618 7.74313L2.94346 9.91954L3.64194 9.20391ZM1.42546 7.04105C1.47332 7.09146 1.5 7.15831 1.5 7.22782L0.5 7.22782C0.5 7.41455 0.57168 7.59416 0.700251 7.72958L1.42546 7.04105ZM1.5 7.22782C1.5 7.29732 1.47332 7.36417 1.42546 7.41458L0.700251 6.72605C0.571681 6.86147 0.5 7.04108 0.5 7.22782L1.5 7.22782Z',
            ]"
            size="20px"
            viewBox="0 0 24 20"
            style="width: 25px"
            @click="mobileRemontIsActive = !mobileRemontIsActive"
          />
          <!-- TODO: remove transition after animation fix in SFUI -->
          <transition name="sf-collapse-bottom" mode="out-in">
            <RemontMenu
              v-if="mobileRemontIsActive"
              @close="mobileRemontIsActive = false"
            />
          </transition>
        </template>
      </SfBottomNavigationItem>
      <transition name="sf-collapse-bottom" mode="out-in">
        <SfBottomNavigationItem
          v-if="!isSidebarOpen"
          key="openCart"
          icon="empty_cart"
          :label="$t('Cart')"
          class="sw-bottom-navigation__action-button"
          :is-floating="true"
          data-cy="bottom-navigation-cart"
          @click="toggleSidebar(true)"
        >
          <template #icon>
            <SfCircleIcon aria-label="Go to Cart" icon="empty_cart" />
            <SfBadge v-if="count > 0" class="sf-badge--number cart-badge">{{
              count
            }}</SfBadge>
          </template>
        </SfBottomNavigationItem>
        <SfBottomNavigationItem
          v-else
          key="closeCart"
          icon="cross"
          :label="$t('Close')"
          class="sw-bottom-navigation__action-button"
          :is-floating="true"
          data-cy="bottom-navigation-close"
          @click="toggleSidebar(false)"
        >
        </SfBottomNavigationItem>
      </transition>
    </SfBottomNavigation>
  </div>
</template>

<script>
import {
  SfBottomNavigation,
  SfCircleIcon,
  SfIcon,
  SfBottomModal,
  SfList,
  SfMenuItem,
  SfBadge,
} from "@storefront-ui/vue"
import { useUIState, useUser, useCart } from "@shopware-pwa/composables"
import { computed } from "@vue/composition-api"
import { PAGE_ACCOUNT } from "@/helpers/pages"
import { getCategoryUrl } from "@shopware-pwa/helpers"
import RemontMenu from "@/components/RemontMenu";
const SwBottomMenu = () => import("@/components/SwBottomMenu.vue")
const SwBottomMoreActions = () => import("@/components/SwBottomMoreActions.vue")

export default {
  name: "SwBottomNavigation",
  components: {
    RemontMenu,
    SfBottomNavigation,
    SfIcon,
    SfCircleIcon,
    SfBottomModal,
    SwBottomMenu,
    SfList,
    SfMenuItem,
    SwBottomMoreActions,
    SfBadge,
  },
  data() {
    return {
      mobileCatalogIsActive: false,
      mobileRemontIsActive: false,
      userIconActive: false,
      moreActionsIsActive: false,
    }
  },
  setup(props, { root }) {
    const { switchState: toggleSidebar, isOpen: isSidebarOpen } = useUIState({
      stateName: "CART_SIDEBAR_STATE",
    })
    const { switchState: toggleModal } = useUIState(root, "LOGIN_MODAL_STATE")
    const { isLoggedIn, isGuestSession, logout } = useUser()
    const { count } = useCart()
    const isMyAccountActive = computed(() => isLoggedIn.value)
    const userIconDescription = computed(() => {
      if (!isLoggedIn.value) return root.$t("Login / Register")
      if (isGuestSession.value) return root.$t("Guest session")
      return root.$t(`My Account`)
    })

    return {
      logout,
      getCategoryUrl,
      isSidebarOpen,
      toggleSidebar,
      toggleModal,
      count,
      isMyAccountActive,
      isGuestSession,
      userIconDescription,
    }
  },
  computed: {
    getPageAccount() {
      return PAGE_ACCOUNT
    },
  },
  watch: {
    $route() {
      this.userIconActive = false
    },
  },
  methods: {
    userIconClick() {
      if (this.isMyAccountActive) {
        this.userIconActive = true
      } else this.toggleModal()
    },
    goToMyAccount() {
      this.$router.push(this.$routing.getUrl(PAGE_ACCOUNT))
    },
    async logoutUser() {
      this.userIconActive = false
      await this.logout()
      this.$router.push(this.$routing.getUrl("/"))
    },
    toggleMobileNavigation() {
      this.mobileNavIsActive = !this.mobileNavIsActive
    },
    toggleMoreActions() {
      this.moreActionsIsActive = !this.moreActionsIsActive
    },
  },
}
</script>
<style lang="scss" scoped>
@import "@/assets/scss/variables";

/deep/ .sf-bottom-navigation {
  padding: 0 2rem;
  justify-content: space-between;

  @media (min-width: 576px) {
    padding: 0 3rem;
  }
  @media (min-width: 768px) {
    padding: 0 4rem;
  }
}

.sf-list__item {
  padding: 0 1rem;
}

::v-deep .sf-bottom-navigation-item .sf-circle-icon {
  --button-size: 3.7rem;
}

.sw-bottom-navigation {
  align-items: center;
  &__action-button {
    min-width: 2rem;
  }
}

.menu-button {
  position: relative;

  &__select {
    --chevron-size: 0;
    --select-margin: 0;
    text-align: center;
    position: absolute;
    text-transform: uppercase;

    // TODO[SFUI]: remove current category from bottom nav in mobile - https://github.com/DivanteLtd/storefront-ui/issues/1298
    .sf-select__selected {
      .sf-header__link {
        display: none;
      }
    }
  }

  .sf-select__dropdown {
    .sf-select-option {
      position: relative;

      .sf-header__link {
        display: block;
        margin: 0 auto;
        max-width: 90%;
      }

      .choose-subcategory,
      .back-subcategory {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }

      .choose-subcategory {
        right: 8px;
      }

      .back-subcategory {
        left: 8px;
      }
    }
  }

  .more-actions {
    margin-bottom: var(--spacer-xs);
  }
}
.cart-badge {
  position: absolute;
  top: -50%;
  right: 100;
  transform: translate(110%, -25%);
}
</style>
