<template>
  <footer class="footer py-3">
    <div class="container-xl position-static">
      <div class="row row-cols-2">
        <div class="col">
          <div class="row">
            <div class="col-12 col-lg-5">
              <nuxt-link
                to="/"
                class="d-flex align-items-center mb-2"
              >
                <img
                  loading="lazy"
                  src="../assets/img/logo.svg"
                  width="52"
                  height="58"
                  alt="логотип технолидер">
                <img
                  loading="lazy"
                  src="../assets/img/logo-text.svg"
                  class="ml-1 d-none d-sm-inline-block"
                  width="124"
                  height="19"
                  alt="технолидер"
                >
              </nuxt-link>
            </div>
            <div class="col-12 col-lg-7">
              <AppAddress />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
            <a class="h6 m-0 text-white mb-2" href="tel:89962606644">8 (996) 260-66-44</a>
            <AppSocialMedia class="mb-2" />
            <button class="btn-cta mb-2" @click="showModal()">
              вызвать мастера
            </button>
          </div>
          <nav>
            <ul class="list-unstyled d-flex flex-column flex-md-row w-100 justify-content-center justify-content-lg-start">
              <li>
                <nuxt-link class="btn text-white" to="/o-nas">
                  О нас
                </nuxt-link>
              </li>
              <li>
                <nuxt-link class="btn text-white" to="/contacts">
                  Контакты
                </nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <a
      href="https://api.whatsapp.com/send?phone=+79625565579&text=Здравствуйте!"
      class="whatsapp-button"
      target="_blank"
    >
      <img
        loading="lazy"
        src="../assets/icons/whatsapp-button.png"
        alt="whatsapp"
        width="60"
        height="60"
        class="w-100 h-100"
      />
    </a>
    <button
      @click="toggleSidebar(true)"
      class="btn btn-cart"
    >
      <SfCircleIcon aria-label="Go to Cart" icon="empty_cart" />
      <SfBadge v-if="count > 0" class="sf-badge--number cart-badge">
        {{ count }}
      </SfBadge>
    </button>
  </footer>
</template>

<script>
import modalkaVue from '@/components/modalka.vue'
import AppSocialMedia from "@/components/AppSocialMedia"
import AppAddress from "@/components/AppAddress"
import { SfBadge, SfCircleIcon, SfHeader, SfOverlay } from "@storefront-ui/vue"
import { useCart } from "@shopware-pwa/composables"
import { useUIState } from "@shopware-pwa/composables"

export default {
  name: "SwFooter",
  components: {
    AppAddress,
    AppSocialMedia,
    SfCircleIcon,
    SfBadge,
  },

  setup() {
    const { count } = useCart()
    const { switchState: toggleSidebar, isOpen: isSidebarOpen } = useUIState({
      stateName: "CART_SIDEBAR_STATE",
    })

    return {
      count,
      toggleSidebar
    }
  },

  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Подвал сайта' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.whatsapp-button {
  position: fixed;
  right: 1.25rem;
  bottom: 6.5rem;
  width: 60px;
  height: 60px;
  @media (min-width: 576px) {
    right: 2.25rem;
  }
  @media (min-width: 768px) {
    right: 3.25rem;
  }
  @media (min-width: 1024px) {
    right: 2rem;
    width: 52px;
    height: 52px;
  }
}

.btn-cart {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  @media (max-width: 1023px) {
    display: none;
  }
}

.cart-badge {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.footer {
  background: linear-gradient(to right, var(--c-white) 50%, #57C2DE 50%);
}
</style>
