<template>
  <div class="sw-top-navigation" data-cy="main-header">
    <SfOverlay :visible="isOpen" class="sw-overlay" />

    <SwCookieBar />

    <header class="header py-3">
      <div class="container-xl position-static">
        <div class="row row-cols-2">
          <div class="col">
            <div class="row">
              <div class="col-5">
                <nuxt-link
                  to="/"
                  class="d-flex align-items-center"
                >
                  <img
                    loading="lazy"
                    src="../assets/img/logo.svg"
                    width="52"
                    height="58"
                    alt="логотип технолидер">
                  <img
                    loading="lazy"
                    src="../assets/img/logo-text.svg"
                    class="ml-1"
                    width="124"
                    height="19"
                    alt="технолидер"
                  >
                </nuxt-link>
              </div>
              <div class="col-7">
                <AppAddress />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <a class="h6 m-0 text-white" href="tel:89962606644">8 (996) 260-66-44</a>
              <AppSocialMedia />
              <button class="btn-cta" @click="showModal()">
                вызвать мастера
              </button>
            </div>
            <nav>
              <ul class="list-unstyled d-flex w-100 justify-content-between text-white">
                <li>
                  <nuxt-link to="/skupka">
                    Скупка
                  </nuxt-link>
                </li>
                <li>
                  <SwTopNavigation />
                </li>
                <li>
                  <RemontNavigation />
                </li>
                <li>
                  <nuxt-link to="/o-nas">
                    О нас
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/contacts">
                    Контакты
                  </nuxt-link>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import modalkaVue from '@/components/modalka.vue'
import {
  SfHeader,
  SfOverlay,
  SfCircleIcon,
  SfBadge,
} from "@storefront-ui/vue"
import { useUIState } from "@shopware-pwa/composables"

import SwTopBar from "@/components/SwTopBar.vue"
import SwLogo from "@/components/SwLogo.vue"
import SwTopNavigation from "@/components/SwTopNavigation.vue"

import SwCookieBar from "@/components/gdpr/SwCookieBar.vue"
import AppAddress from "@/components/AppAddress";
import AppSocialMedia from "@/components/AppSocialMedia";
import RemontNavigation from "@/components/RemontNavigation";

export default {
  components: {
    SfCircleIcon,
    SfBadge,
    RemontNavigation,
    AppSocialMedia,
    AppAddress,
    SfHeader,
    SfOverlay,
    SwTopBar,
    SwLogo,
    SwTopNavigation,
    SwCookieBar,
  },
  setup() {
    const { isOpen } = useUIState({ stateName: "MEGA_MENU_OVERLAY_STATE" })

    return {
      isOpen,
    }
  },

  methods: {
    showModal() {
      this.$modal.show(
        modalkaVue,
        { param: 'Шапка сайта' },
        { adaptive: true, class: 'modalka_class', minHeight: 537 }
      )
    },
  },
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables";

.header {
  position: relative;
  background: linear-gradient(to right, var(--c-white) 50%, #57C2DE 50%);
  z-index: 1;

  @media (max-width: 1023px) {
    display: none;
  }
}

.sw-top-navigation {
  --header-container-padding: 0 var(--spacer-base);
  --header-navigation-item-margin: 0 1rem 0 0;

  .sw-overlay {
    --overlay-z-index: 1;
  }

  @include for-desktop {
    ::v-deep .sf-header {
      display: flex;
      justify-content: space-between;
      &__sticky-container {
        width: 100%;
      }
      &__navigation {
        flex: 0 0 calc(100% - 22rem);
      }
    }
  }
}
</style>
