<template>
  <div class="market_card-wrap">
    <div class="market_card">
      <img
        loading="lazy"
        class="market_card_img"
        :src="getImageUrl"
        alt=""
      />

      <div class="market_card_name">
        {{ getName }}
      </div>

      <div class="market_card_price">{{ formatPrice(getRegularPrice) }}</div>

      <nuxt-link :to="getRouterLink" class="btn-cta w-100">Подробнее</nuxt-link>
    </div>
  </div>
</template>

<script>
import { SfProductCard } from "@storefront-ui/vue"
import { useAddToCart, useWishlist } from "@shopware-pwa/composables"
import {
  getProductThumbnailUrl,
  getProductTierPrices,
  getProductUrl,
  getProductName,
  getProductCalculatedPrice,
  getProductCalculatedListingPrice,
  getProductPriceDiscount,
} from "@shopware-pwa/helpers"
import getResizedImage from "@/helpers/images/getResizedImage.js"
import { toRefs } from "@vue/composition-api"
import { usePriceFilter } from "@/logic/usePriceFilter.js"

export default {
  components: {
    SfProductCard,
  },
  setup(props) {
    const { product } = toRefs(props)
    const { addToCart, quantity, getStock, isInCart } = useAddToCart({
      product,
    })
    const { addToWishlist, removeFromWishlist, isInWishlist } = useWishlist({
      product,
    })
    return {
      quantity,
      addToCart,
      getStock,
      isInCart,
      toggleWishlistItem: () =>
        isInWishlist.value
          ? removeFromWishlist(product.value.id)
          : addToWishlist(),
      isInWishlist,
      formatPrice: usePriceFilter(),
    }
  },
  props: {
    product: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {}
  },
  computed: {
    getName() {
      return getProductName({ product: this.product })
    },
    getProductRating() {
      return this.product && this.product.ratingAverage
    },
    // should be replaced with prettyUrl attribute when pretty urls are included in product entity
    getRouterLink() {
      return this.$routing.getUrl(getProductUrl(this.product))
    },
    getRegularPrice() {
      return (
        (this.tierPrices.length &&
          this.tierPrices[0] &&
          this.tierPrices[0].unitPrice) ||
        getProductCalculatedListingPrice(this.product)
      )
    },
    getSpecialPrice() {
      return this.tierPrices.length
        ? undefined
        : getProductPriceDiscount(this.product) &&
            getProductCalculatedPrice(this.product)
    },
    tierPrices() {
      return getProductTierPrices(this.product)
    },
    getImageUrl() {
      return getResizedImage(getProductThumbnailUrl(this.product), {
        width: 280,
        height: 400,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.market_card-wrap {
  padding: .25rem;
  @media (min-width: 576px) {
    width: 50%;
  }
  @media (min-width: 768px) {
    width: 33.3333%;
  }
  @media (min-width: 992px) {
    width: 25% !important;
  }
}
.market_card {
  background: #ffffff;
  box-shadow: 0 0 84px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  &_img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    margin-bottom: 16px;
  }
  &_category {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    color: #000000;
    margin-bottom: 12px;
  }
  &_name {
    font-family: 'PtRootUiBold';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    /* or 25px */

    color: #000000;
  }
  &_price {
    font-size: 25px;
    line-height: 150%;
    /* identical to box height, or 60px */
    color: #000000;
  }
  button {
    margin-top: 12px;
    margin-bottom: 16px;
    width: 100%;
  }
}
</style>
