<template>
  <div class="sw-registration-form" @keyup.enter="$emit('invokeRegister')">
    <SwPluginSlot name="registration-form-before" />
    <div class="sw-form">
      <div class="inputs-group">
        <SwInput
          v-model="firstName"
          name="registration-first-name"
          :label="$t('First name')"
          class="sw-form__input form__element form__element--small"
          :valid="!$v.firstName.$error"
          :error-message="$t('First name is required')"
          data-cy="registration-first-name-input"
          @blur="$v.firstName.$touch()"
        />
        <SwInput
          v-model="lastName"
          name="registration-last-name"
          :label="$t('Phone number')"
          class="sw-form__input form__element form__element--small"
          :valid="!$v.lastName.$error"
          :error-message="$t('Wrong phone number')"
          data-cy="registration-last-name-input"
          @blur="$v.lastName.$touch()"
        />
      </div>
      <SwPluginSlot name="registration-form-after" />
    </div>
  </div>
</template>

<script lang="ts">
import { useVuelidate } from "@vuelidate/core"
import { required, requiredIf, email, minLength } from "@vuelidate/validators"
import {
  computed,
  reactive,
  Ref,
  ref,
  toRefs,
  watch,
} from "@vue/composition-api"
import { SfAlert, SfSelect } from "@storefront-ui/vue"
import {
  useCountries,
  useSalutations,
  useSessionContext,
  useUser,
  getApplicationContext,
} from "@shopware-pwa/composables"
import { mapCountries, mapSalutations } from "@shopware-pwa/helpers"
import SwInput from "@/components/atoms/SwInput.vue"
import SwPluginSlot from "sw-plugins/SwPluginSlot.vue"
import SwCheckbox from "@/components/atoms/SwCheckbox.vue"

export default {
  name: "SwRegistrationForm",
  components: {
    SfAlert,
    SwInput,
    SfSelect,
    SwCheckbox,
    SwPluginSlot,
  },
  props: {
    allowGuestRegistration: {
      type: Boolean,
      default: true,
    },
    value: {
      type: Object,
      default: () => ({}),
    },
  },
  setup(props, { emit }) {
    const { refreshSessionContext } = useSessionContext()
    const { countryId } = useSessionContext()
    const { login, loading } = useUser()
    const { getCountries, error: countriesError } = useCountries()
    const { getSalutations, error: salutationsError } = useSalutations()
    const { routing } = getApplicationContext()

    // form data
    const doNotCreateAccount: Ref<boolean> = ref(true)
    const isDifferentShippingAddress: Ref<boolean> = ref(false)

    const state = reactive({
      firstName: "",
      lastName: "",
      email: "none@none.com",
      salutationId: null,
      countryId: countryId.value,
      street: "none",
      city: "none",
      zipcode: "none",
      password: "",
      alternativeSalutationId: null,
      alternativeFirstName: "",
      alternativeLastName: "",
      alternativeCountryId: countryId.value,
      alternativeStreet: "",
      alternativeCity: "",
      alternativeZipcode: "",
      alternativePhoneNumber: "",
    } as any)
    watch(countryId, () => {
      state.countryId = countryId.value
    })

    const ourResultValue = computed(() => {
      const shippingAddress = {
        firstName: state.alternativeFirstName,
        salutationId:
          state.alternativeSalutationId || getDefaultSalutationId.value,
        lastName: state.alternativeLastName,
        city: state.alternativeCity,
        street: state.alternativeStreet,
        zipcode: state.alternativeZipcode,
        countryId: state.alternativeCountryId || countryId.value,
      }
      return {
        firstName: state.firstName,
        lastName: state.lastName,
        email: state.email,
        password: state.password,
        guest: doNotCreateAccount.value,
        salutationId: state.salutationId || getDefaultSalutationId.value,
        storefrontUrl:
          routing.getCurrentDomain.value?.url ||
          (process.client && window.location.origin) ||
          "",
        billingAddress: {
          firstName: state.firstName,
          salutationId: state.salutationId || getDefaultSalutationId.value,
          lastName: state.lastName,
          city: state.city,
          street: state.street,
          zipcode: state.zipcode,
          countryId: state.countryId || countryId.value,
        },
        ...(isDifferentShippingAddress.value && { shippingAddress }),
      }
    })

    const getMappedCountries = computed(() => mapCountries(getCountries.value))
    const getMappedSalutations = computed(() =>
      mapSalutations(getSalutations.value)
    )
    const getDefaultSalutationId = computed(
      () =>
        getSalutations.value?.find(
          (salutation) => salutation.salutationKey === "not_specified"
        )?.id
    )
    watch(
      getDefaultSalutationId,
      () => {
        state.salutationId = getDefaultSalutationId.value
        state.alternativeSalutationId = getDefaultSalutationId.value
      },
      { immediate: true }
    )

    watch(doNotCreateAccount, () => {
      if (!!doNotCreateAccount.value) state.password = ""
    })

    watch(ourResultValue, () => {
      emit("input", ourResultValue.value)
    })

    const rules = {
      salutationId: {},
      firstName: {
        required,
      },
      lastName: {
        required,
      },
      email: {
        required,
        email,
      },
      password: {
        required: requiredIf(function () {
          return !doNotCreateAccount.value
        }),
        minLength: minLength(8),
      },
      street: {
        required,
      },
      zipcode: {
        required,
      },
      city: {
        required,
      },
      countryId: {
        required,
      },
      alternativeSalutationId: {},
      alternativeFirstName: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativeLastName: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativeStreet: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativeZipcode: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativeCity: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativeCountryId: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
      alternativePhoneNumber: {
        required: requiredIf(function () {
          return !!isDifferentShippingAddress.value
        }),
      },
    }

    const $v = useVuelidate(rules, state)

    return {
      ...toRefs(state),
      clientLogin: login,
      isLoading: loading,
      countriesError,
      getMappedCountries,
      salutationsError,
      getMappedSalutations,
      refreshSessionContext,
      doNotCreateAccount,
      isDifferentShippingAddress,
      getDefaultSalutationId,
      $v,
      ourResultValue,
    }
  },
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/forms";
</style>
